.widget.push-container.on,
.widget.modal-container.on,
.widget.switch-container .value.on,
.widget.switcher-container .value.on,
.widget.crossfader-container .value.on,
.widget.toggle-container.on:not(.led) {
	background : var(--color-custom);
	color: var(--color-bg);
	font-weight: 900;
}

.widget.push-container.active > .label {
	color: var(--color-custom);
}



.widget.modal-container.on .popup {
	color: var(--color-text);
	font-weight: 500;
}
