
$base: #181818;
$accent: #d98533;
$tone: rgb(200, 200, 200);
$text: white;

:root {

    ////////////////////// COLOR SCHEME

    --color-text: transparentize($text, .4);
    --color-text-fade: transparentize($text, .6);

    --color-accent: $accent;
    --color-grid:  transparentize($accent, 0.95);

    --color-bg: $base;
    --color-track: desaturate(mix($base, $tone, 95), 2);
    --color-fg: desaturate(mix($base, $tone, 88), 5);
    --color-raised: desaturate(mix($base, $tone, 75), 5);
    --color-light: desaturate(transparentize($tone, 0.90), 50);

    --color-white: white;

    ////////////////////// AUTO

    --color-custom: var(--color-accent);

    ////////////////////// MISC

    --nav-height:40rem;
    --sidepanel-size:300rem;
    --scrollbar-size:20rem;

    --grid-width:10;
}
