.fader-container {
    --color-pips: var(--color-text-fade);
    --color-gauge: var(--color-custom);
    --color-knob: var(--color-custom);
    height:100%;
}

.fader {
    height:100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    position: relative;

    .wrapper {
        overflow: hidden;
        flex:1;
        display: flex;
        max-height: 100%;
        width: 100%;
        position: relative;

        canvas {
            flex:1;
            max-height: 100%;
            width: 100%;
        }

        .meter-container {
            pointer-events: none;

            position: absolute;
            top:20rem;
            bottom:19rem;
            left:50%;
            height: auto;
            width:3rem;
            min-width: 3rem;
        }

    }

    &.has-pips {

        .wrapper canvas {
            padding-right: 28rem;
        }

        .pips {
            pointer-events: none;

            position: absolute;
            top:20rem;
            bottom:20rem;
            left:50%;
            z-index: 0;
            width: 4rem;
            margin-left: 7rem;
            background: linear-gradient(to bottom, transparent 0, transparent 2px, var(--color-pips)  2px, var(--color-pips) 3px, transparent 3px, transparent 5px);
            background-size: 100% 5px;
            background-repeat: repeat-y;

            .pip {
                height:1px;
                background: var(--color-pips);
                color:var(--color-fg);
                position: absolute;
                width:8rem;
                left:0;
                &:before {
                    content:"";
                    position: absolute;
                    top:-4px;
                    left:0;
                    right:0;
                    bottom:-4px;
                    background: var(--color-fg);
                    z-index: -1;
                }
                span {
                    position: absolute;
                    width:30rem;
                    display: block;
                    text-align: center;
                    font-size:10rem;
                    line-height: 12rem;
                    left:3rem;
                    top:-5.5rem;
                    color:var(--color-pips);
                }
            }
        }
        &.horizontal {
            .wrapper canvas {
                padding-right:0;
                padding-bottom: 20rem;
            }
            .wrapper .meter-container {
                left:20rem;
                right:20rem;
                height: 3rem;
                min-height: 3rem;
                width: auto;
                top:50%;
                margin-top: 3rem;
            }

            .pips {
                top:50%;
                left:20rem;
                right:20rem;
                font-size: 0;
                height:4rem;
                width:auto;
                margin:0;
                margin-top: 10rem;
                background: linear-gradient(to right,  transparent 0, transparent 2px, var(--color-pips)  2px, var(--color-pips) 3px, transparent 3px, transparent 5px);
                background-size: 5px 100%;
                background-repeat: repeat-x;
                .pip {
                    width:1px;
                    height:6rem;
                    margin: 0;
                    &:before {
                        top:0;
                        bottom:0;
                        left:-4px;
                        right:-4px;
                    }
                    span {
                        top:15rem;
                        left:-15rem!important;
                        right:auto;
                    }
                }
            }
        }

        &.align-right {
            .wrapper canvas {
                padding-right: 0;
                padding-left: 28rem;
            }
            .wrapper .meter-container {
                left: auto;
                right:50%;
                margin-left: 0;
            }
            .pips {
                margin-left: 0;
                margin-right: 7rem;
                left:auto;
                right:50%;
                .pip {
                    right:0;
                    left:auto;
                    span {
                        right:3rem;
                        left:auto;
                    }
                }
            }
        }
    }
    &.compact {
        .input {
            overflow: hidden;
            position: absolute;
            top:50%;
            transform: rotate(-90deg);
            pointer-events: none;
            width: 100rem;
            margin-left: -50rem;
            left:50%;
            z-index: 3;
            margin-top: -15rem;
        }
        .meter-container {
            top: 0;
            bottom: 0;
            left: auto;
            right:0;
        }
        &.horizontal {
            .meter-container {
                top: auto;
                bottom: 0;
                left: 0;
                right:0;
                height: 3rem;
                min-height: 3rem;
                width: auto;
            }
            .input {
                transform: none;
                top:50%;
            }
        }
    }
}
