

.led-container {
    width:100rem;
    flex-shrink: 0;

    .led {
        display: flex;
        align-items: center;
        height: 100%;
        padding:10rem 0;
        overflow: hidden;
        
        div {
            border-radius: 100%;
            width:calc(100% - 20rem);
            padding-bottom:calc(100% - 20rem);
            margin: 0 auto;
            background:$color-border;
            position: relative;
            span {
                position: absolute;
                top:-1rem;left:-1rem;right:-1rem;bottom:-1rem;
                border-radius: 100%;

                display:block;
                background-color:var(--color-accent);
                border: 5rem solid rgba($color-fg,.8);
            }
        }
    }
}

.plot-container, .visualizer-container {
    min-height: 200rem;
    min-width: 200rem;
    .plot {
        position: absolute;
        top: 35rem;
        left: 0;
        right: 0;
        bottom: 0;
        // padding:2rem;
    }
    &.nolabel .plot {
        top:0;
    }
    canvas {
        width:100%;
        height:100%;
        opacity: 0;
        transition: opacity .2s;
        &.visible {
            opacity:1;
        }
    }
}


.meter-container {
    &.nolabel .meter {
        top:1rem;
    }

	.meter {
        position: absolute;
        top:35rem;
        left:1rem;
        right:1rem;
        bottom:1rem;
        background: $color-bg;

		.level {
			position: absolute;
			bottom:0!important;
			top:auto!important;
			width:100%;
			height:100%;
			transform-origin: bottom;
			max-height:100%;
			max-width:100%;
			background:var(--color-accent);
            &.horizontal {
                transform-origin: left;
            }
		}
	}
}
