.led-container {
    --color-custom:var(--color-accent);

    width:100rem;
    flex-shrink: 0;

    .led {
        display: flex;
        align-items: center;
        height: 100%;
        padding:10rem 0;
        overflow: hidden;

        div {
            border-radius: 100%;
            width:calc(100% - 20rem);
            padding-bottom:calc(100% - 20rem);
            margin: 0 auto;
            background:var(--color-track);
            position: relative;
            span {
                position: absolute;
                top:0;left:0;right:0;bottom:0;
                border-radius: 100%;
                display:block;
                background-color:var(--color-custom);
                &:after {
                    content:"";
                    border-radius:100%;
                    position: absolute;
                    top:-1rem;left:-1rem;right:-1rem;bottom:-1rem;
                    display:block;
                    border: 6rem solid var(--color-fg);
                    opacity: 0.8;
                }
            }
        }
    }
}

.plot-container, .visualizer-container, .eq-container {
    --color-custom:var(--color-accent);

    height: 200rem;
    width: 200rem;
    .plot {
        display: flex;
        flex-direction: row;
        flex:1;
        position: relative;
    }
    canvas {
        position: absolute;
        top:0;left:0;
        width:100%;
        height: 100%;
    }
}


.meter-container {
    --color-custom:var(--color-accent);
    --color-gauge: var(--color-custom);

    height: 100rem;
	.meter {
        display: flex;
        flex-direction: row;
        flex:1;
        position: relative;

        background: var(--color-track);

		.level {
			width:100%;
            flex:1;
			transform-origin: bottom;
			background:var(--color-custom);
            // opacity: .5;
		}
        &::after {
            content:"";
            position: absolute;
            top:0;
            left:0;
            bottom:0;
            right:0;
            background-image: linear-gradient(transparent 1px, var(--color-fg) 1px, var(--color-fg) 2px );
            background-size: 100% 2px;
            background-repeat: repeat;
        }
        &.horizontal {
            &::after {
                background-image: linear-gradient(to left, transparent 1px, var(--color-fg) 1px, var(--color-fg) 2px );
                background-size: 2px 100% ;
            }
            .level {
                transform-origin: left;
            }
        }
    }

}

.text-container {
    --color-custom:var(--color-accent);

    .text {
        flex: 1;
        height:35rem;
        padding: 10rem;
        justify-content: center;
        display: flex;
        align-items: center;
        background: var(--color-faded);
        color:var(--color-custom);
        &.vertical {
            transform: rotate(180deg);
            text-overflow: ellipsis;
            overflow: hidden;
            -webkit-writing-mode:vertical-lr;
        }
    }
}
