

.led-container {
    width:100rem;
    flex-shrink: 0;

    .led {
        display: flex;
        align-items: center;
        height: 100%;
        padding:10rem 0;
        overflow: hidden;

        div {
            border-radius: 100%;
            width:calc(100% - 20rem);
            padding-bottom:calc(100% - 20rem);
            margin: 0 auto;
            background:var(--color-track);
            position: relative;
            span {
                position: absolute;
                top:0;left:0;right:0;bottom:0;
                border-radius: 100%;
                display:block;
                background-color:var(--color-accent);
                &:after {
                    content:"";
                    border-radius:100%;
                    position: absolute;
                    top:-1rem;left:-1rem;right:-1rem;bottom:-1rem;
                    display:block;
                    border: 6rem solid var(--color-fg);
                    opacity: 0.8;
                }
            }
        }
    }
}

.plot-container, .visualizer-container {
    min-height: 200rem;
    min-width: 200rem;
    .plot {
        display: flex;
        flex-direction: row;
        flex:1;
        position: relative;
    }
    canvas {
        position: absolute;
        top:0;left:0;
        width:100%;
        height: 100%;
        opacity: 0;
        transition: opacity .2s;
        &.visible {
            opacity:1;
        }
    }
}


.meter-container {

	.meter {
        display: flex;
        flex-direction: row;
        flex:1;
        margin: 0 1rem 1rem;

        background: var(--color-bg);

		.level {
			width:100%;
            flex:1;
			transform-origin: bottom;
			background:var(--color-accent);
            &.horizontal {
                transform-origin: left;
            }
		}
	}
}
