.push-container {
    @extend .toggle-container;
    .active {
        background: var(--color-fg);
    }
    .light:after {
        content:"";
        position: absolute;
        width:100%;
        height:100%;
        box-shadow: 0 0 0 4rem var(--color-text-fade) inset;
        opacity: .1;

    }
}
