.push-container {
    --color-custom:var(--color-accent);

    width:100rem;
    min-height: 65rem;
    flex-shrink: 0;
    padding:0!important;

    background: var(--color-raised);

    .label {
        position: absolute;
        top:0;
        left:0;
        right:0;
        bottom:0;
        height:auto;
        max-height: initial;
        border:0;
        background: none!important;
        text-align: center;
        pointer-events:none;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 1;
    }

    cursor: pointer;

    .push {
        &.active {
            background: var(--color-fg);
        }
        border-bottom:2rem solid var(--color-fg);
        .light {
            position: absolute;
            left:auto;
            background: var(--color-custom);
            height:4rem;
            width:4rem;
            border-radius: 4rem;
            overflow: hidden;
        }
    }
}
