.switch-container {
    --color-custom:var(--color-accent);

    // height: 100%;
    width:100rem;
    flex-shrink: 0;
    .switch {
        height:100%;
        width:100%;
        cursor: pointer;
        display: flex;
        flex-direction:column;
        align-items: stretch;
        flex:1;

        &.horizontal {
            flex-direction:row;
            .value {
                padding:6rem;
                text-align: center;
                display: flex;
                justify-content: center;
                flex-direction: column;
                border-top:0;
                border-right:1rem solid var(--color-bg);
                flex:1;
                height:auto;
                &:last-child {
                    border-right:0;
                }

            }
        }
        .value {
            background:var(--color-raised);
            color:var(--color-text);
            width:100%;
            height:100%;
            position: relative;
            border-top: 1rem solid var(--color-bg);
            white-space: normal;
            padding:12rem;
            text-align: center;
            word-break: break-all;
            overflow: hidden;
            display: flex;
            flex-direction: column;
            justify-content: center;
            box-shadow: 0 0 1rem 0 var(--color-text-fade) inset;

            &:first-child {
                border-top:0;
            }
            &:last-child {
                margin-bottom:0;
            }

            &:before {
                content:"";
                position: absolute;
                left:0;
                top:0;
                right:0;
                bottom:0;
                background: var(--color-custom);
                opacity: 0;
                z-index: 2;
            }
            &.on:before {
                opacity: .2;
                box-shadow: 0 0 1rem 0 var(--color-custom) inset;

            }

        }
    }
}
