.toggle-container {
    --color-custom:var(--color-accent);
    
    width:100rem;
    min-height: 65rem;
    flex-shrink: 0;
    padding:0!important;
    background: var(--color-raised);

    .label {
        position: absolute;
        top:0;
        left:0;
        right:0;
        bottom:0;
        height:auto;
        max-height: initial;
        border:0;
        background: none!important;
        text-align: center;
        pointer-events:none;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    cursor: pointer;
}

.toggle {
    position: absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    border-bottom:2rem solid var(--color-fg);

    .light {
        position: absolute;
        left:2rem;
        right:2rem;
        top:2rem;
        height:2rem;
        pointer-events: none;
        background: var(--color-custom);
        &:after {
            content:"";
            width: 100%;
            height: 100%;
            display: block;
            background: var(--color-track);
        }
    }
    &.on .light:after {
        display: none;
    }
}
