
::-webkit-scrollbar {
    width: var(--scrollbar-size);
    height:var(--scrollbar-size);
    opacity:1;

}

::-webkit-scrollbar-track-piece {
    background: var(--color-bg);
    &:vertical {
        border-left:2rem solid var(--color-bg);
    }
    &:horizontal {
        border-top:2rem solid var(--color-bg);
    }
}
::-webkit-scrollbar-corner  {
    background: var(--color-fg);
    border-left:2rem solid var(--color-bg);
    border-top:2rem solid var(--color-bg);
}
::-webkit-scrollbar-thumb {
    background:var(--color-raised);
    &:vertical {
        border-left:2rem solid var(--color-bg);
    }
    &:horizontal {
        border-top:2rem solid var(--color-bg);
    }
}

::-webkit-scrollbar-button:decrement:start, ::-webkit-scrollbar-button:increment:end {

    background:var(--color-fg);
    height:var(--scrollbar-size);
    width: var(--scrollbar-size);

    display: block;

    &:vertical {
        &:decrement:start {
            border-left:2rem solid var(--color-bg);
            border-bottom:2rem solid var(--color-bg);
        }

        &:increment:end {
            border-left:2rem solid var(--color-bg);
            border-top:2rem solid var(--color-bg);

        }
    }
    &:horizontal {
        &:decrement:start {
            border-right:2rem solid var(--color-bg);
            border-top:2rem solid var(--color-bg);
        }

        &:increment:end {
            border-left:2rem solid var(--color-bg);
            border-top:2rem solid var(--color-bg);

        }
    }

}
