:root {

    --color-text:rgba(white,.8);
    --color-text-fade:rgba(white,0.5);

    --color-bg:darken(#2b2f37,5%); // secondary
    --color-fg:lighten(#2b2f37,1%); // primary
    --color-raised:lighten(#2b2f37,5%); // raised
    --color-faded: darken(#2b2f37,1%); // faded

    --color-track: lighten(#1a1d22,1%); // widgets unfilled value

    --color-accent:#528bff;
    --color-custom:var(--color-accent);



    --nav-height:40rem;
    --sidepanel-size:300rem;
    --scrollbar-size:20rem;

    --pixel-scale:1;

    /* Unset variables by default

    --display-input:none; // Hides widgets' numeric inputs

    */
}
