/////////////

$theme: 'dark';

@if $theme == 'dark' {
  $color-text-base: white;
}
@if $theme == 'light'  {
    $color-text-base: black;
}


$color-base: black;

$color-text:mix($color-text-base,$color-base,80);
$color-text-fade:mix($color-text-base,$color-base,60);



$color-fg:#282c34;
$color-bg:mix($color-fg,$color-base,85);
$color-widget:mix($color-fg,$color-text-base,96);

$color-accent:#528bff;
$color-border:mix($color-fg,$color-base,65);





$nav-height:60rem;

$bg-3d:linear-gradient(mix($color-text,$color-fg,3), mix($color-text,$color-fg,2) 15rem);
$bg-3d-hover:linear-gradient(mix($color-text,$color-fg,6), mix($color-text,$color-fg,3));
$bg-3d-on:linear-gradient(mix($color-text,$color-bg,0), mix($color-text,$color-bg,5));


$sidepanel-size:300rem;


@mixin layer {
    position: absolute;
    top:0;
    left:0;
    right: 0;
    bottom:0;
}


/////////////


* {
    margin:0;
    padding:0;
    box-sizing:border-box;
    text-decoration:none;
    outline:0;
    font:inherit;
    cursor: inherit;
}
a {
    cursor: pointer;
    display: block;
}

$scrollbar-margin:2px;
::-webkit-scrollbar {
    width: 10px;
    height:10px;
    opacity:1;

}

::-webkit-scrollbar-track-piece {
    background: rgba(0,0,0,.2);
    &:vertical {
        border-left:$scrollbar-margin solid $color-fg;
    }
    &:horizontal {
        border-top:$scrollbar-margin solid  $color-fg;
    }
}
::-webkit-scrollbar-corner  {
    background: none;
}
::-webkit-scrollbar-thumb {
    background:$bg-3d;
    &:vertical {
        border-left:$scrollbar-margin solid  $color-fg;
    }
    &:horizontal {
        border-top:$scrollbar-margin solid  $color-fg;
    }
}



* {
    -webkit-user-select: none;
}
.inspector *{
    -webkit-user-select: initial;
}
.inspector *::selection{
    background:$color-accent!important;
}
input:focus::selection{
    background:$color-accent;
}
input {
    cursor: text;
}








html, body {
    height:100%;
    overflow:hidden;
    position:relative;

}

html{
    font-size: 1px;
}

body {
    font-size:14rem;
    line-height:16rem;
    font-family:sans;
    color:$color-text;
    white-space:nowrap;
    opacity:1;
    cursor: default;
}



.btn {
    background: $bg-3d;
    display: block;
    border:1px solid $color-border;
    padding:15rem;
}
a.btn {
    &:hover {
        background: $bg-3d-hover;
    }
}

#lobby {
    background: $color-bg;
    @include layer();
    z-index: 2;
    border:1px solid $color-border;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow-y: auto;
    padding:20rem;
    .main {
        width:600rem;
        max-height:100%;

    }
    .header {
        background: $bg-3d;
        padding:20rem;
        font-weight:bold;
        box-shadow: 0 0 0 1px $color-border inset;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
    a {
        padding-right:35rem;
        overflow: hidden;
        margin-top:10rem;
        position: relative;
        white-space: nowrap;
        text-overflow: ellipsis;
        span {
            position: absolute;
            right:0rem;
            top:0rem;
            padding:15rem;
            color:$color-text-fade;
            &:hover {
                color:$color-text
            }
        }
    }
}






#container {
    background: $color-bg;
    @include layer();
    overflow:hidden;
    transition:right .2s;
    &.sidepanel-open {
        right:$sidepanel-size;
    }
    #open-toggle {
        position:absolute;
        right:0;
        top:2rem;
        width:60rem;
        height:$nav-height;
        padding:0 10rem;
        line-height: $nav-height;
        font-size: 24rem;
        text-align: center;
        color:$color-text-fade;
        z-index:2;
        &.sidepanel-open {
            color:$color-text
        }
    }
}

#sidepanel {
    position:absolute;
    z-index: 999999;
    width:$sidepanel-size;
    top:0;
    right:0;
    bottom:0;
    margin-right:-$sidepanel-size;
    background:$color-fg;
    border-left:1px solid $color-border;
    //box-shadow: 0 0 10rem 0 $color-border;
    transition:right .2s;
    overflow-y: auto;
    overflow-x: visible;

    &.sidepanel-open {
        right:$sidepanel-size;
    }

    #options {
        position:absolute;
        left:0;top:2rem;
        right:0;bottom:0;
        padding:5rem;
        list-style:none;
        background:$color-fg;

        li {
            display:block;
            margin-bottom:5rem;
            background:$bg-3d;
        }

        .inspector {
            padding: 10rem;
            .result {
                background: $color-border;
                border-radius: 3rem;
                margin-top: 10rem;
                padding:10rem;
                color:$color-text-fade;
                white-space: pre;
                word-wrap: break-word;
                width:100%;
                max-height: 300rem;
                overflow-y: auto;
                &::-webkit-scrollbar-track-piece, &::-webkit-scrollbar-thumb {
                    border-color:$color-border!important
                }
                &::-webkit-scrollbar-thumb{
                    background:$color-bg!important;
                    opacity:0.6!important;
                }
            }
        }
    }
}





.nicescroll-rails-hr {
    margin-top:3rem;
}
.nicescroll-rails-vr {
    display:none!important;
}

a {
    color:inherit;
}


.navigation {
    position:absolute;
    top:0;
    left:0;
    right:0;
    z-index:1;
    font-size:14rem;
    background: $color-bg;
    border-bottom: 1px solid $color-border;
    border-top: 1px solid $color-fg;
    height:$nav-height;
    ::first-letter {
        text-transform: uppercase;
    }


    &.main {
        padding-right:55rem;
        right:0;
        // background: linear-gradient($color-border,$color-bg);
    }
    ul {

        list-style:none;
        display: flex;
        padding:7rem  5rem;

        li.on + li {border-image:none;border-left:1px solid transparent;}
        li {
            display:block;
            max-width:250rem;
            flex: 1;

            border-width:0 0 0 1px;
            border-image: linear-gradient(transparentize($color-border,1), $color-border,transparentize($color-border,1)) 0 0 0 1 stretch;
            &:first-child, &.on {
                border-image:none;
                border-left:1px solid transparent;
            }
            &:first-child {
                border-left:0;
            }

            a {
                display:block;
                padding: 5rem 10rem;
                line-height: ($nav-height - 26rem);
                border-radius:3rem;
                overflow:hidden;
                text-align:center;
                border:1px solid transparent;
                position:relative;
                span {
                    display:block;
                    width:100%;
                    -webkit-mask: linear-gradient(to left, rgba(0, 0, 0, 0), #000000 10rem) no-repeat;
                }
                color:$color-text-fade;
                &.on {
                    background:$color-fg;
                    border:1px solid $color-border;
                    color:$color-text;

                    &:before {
                        content:"";
                        position: absolute;
                        top:0;
                        left:0;
                        right:0;
                        bottom:0;
                        box-shadow: inset 0 1px 1px rgba(255, 255, 255, 0.06);
                        background:linear-gradient(rgba(255, 255, 255, 0.02), rgba(255, 255, 255, 0))
                    }
                    &:after {
                        content:"";
                        position:absolute;
                        top:0;
                        left:0;
                        right:0;
                        height:4rem;
                        // background:linear-gradient(rgba($color-accent,0.5),rgba($color-accent,0))
                    }
                }
            }
        }
    }
}





.content {
    position:absolute;
    left:0;
    top:$nav-height;
    right:0;
    bottom:0;
    background:$color-fg;

    .tab {
        //height:100%;
        font-size:0;
        //position:relative;
        overflow: auto;
    }
    .content {
        // border-top:1px solid $color-border;
        top:$nav-height;

    }
}


.tab {
    display:none;
    &.on {
        display: block;
        height:100%;
        width:auto;
    }
}


#loading {
    position: absolute;
    top:50%;
    left:50%;
    margin-top:-15rem;
    text-align: center;
    .spinner {
        display: block;
        margin: 0 auto;
        height:30rem;
        width:30rem;
        border-radius: 50%;
        border:2rem solid rgba(0,0,0,.2);
        border-top-color:$color-accent;
        animation: spin .5s linear infinite;
    }
    #status {
        margin-top: 10rem;
        display: inline-block;

    }

}

@keyframes spin {
    0% {transform: rotate(0deg);}
    100% {transform: rotate(360deg);}
}






.popup {
    position: fixed;
    top:0;
    left:0;
    right:0;
    bottom:0;
    padding:10%;
    background:rgba($color-base,.5);
    z-index:1000000;
    .popup-title {
        position: relative;
        padding:15rem;
        background:$bg-3d;
        .closer {
            position:absolute;
            right:0rem;
            top:0;
            padding:15rem;
            color:$color-text-fade;
            cursor: pointer;
            &:hover {
                color:$color-text;
            }
        }
    }
    .popup-wrapper {
        background:$color-fg;
        height:100%;
        width:100%;
        max-width:600rem;
        margin:0 auto;
        position: relative;
        overflow: hidden;
        border:1px solid $color-border;
        .popup-content {
            height:100%;
            width:100%;
            padding:10rem;
            overflow-y:scroll;
            white-space: normal;
        }
    }
}

form {
    label {
        display: block;
        padding-top:10rem;
        margin-bottom:10rem;
    }
    .info {
        color:$color-text-fade;
        margin-bottom:10rem;
    }
    input {
        display:block;
        margin-bottom:10rem;
        background:$color-bg;
        font:inherit;
        color:$color-text;
        border:1px solid $color-border;
        width:100%;
        padding:10rem;
        &.invalid {
            box-shadow: 0 0 0 1px rgba(red,.3)!important;
        }
        &:focus {
            box-shadow: 0 0 0 1px $color-accent;
        }
    }
    .submit {
        margin-top:30rem;
    }
}














// WIDGETS

.widget {
    display:inline-block;
    height:auto;
    min-width: 100rem;
    overflow: hidden;
    position:relative;
    font-size:13rem;
    padding:35rem 1px 0;
    vertical-align:top;
    border: 6rem solid $color-fg;
    border-width:6rem 0;
    margin:0 3rem;

    box-shadow: 0 0 0 1px $color-bg inset;
    background:$bg-3d;

     &:first-child {
         margin-left:6rem;
     }
     &:last-child {
         margin-right:6rem;
     }

     &.nolabel {
         padding-top:0;
         > .label {
             display:none;
         }
     }

    .label {
        z-index: 1;
        padding:10rem 10rem;
        position:absolute;
        top:0rem;
        left:0;
        right:0;
        text-overflow:ellipsis;
        overflow:hidden;
        height:35rem;
        &.accent {
            color:$color-accent;
        }
    }
    input {
        width:100%;
        height:35rem;
        border:0;
        background:$color-bg;
        color:inherit;
        display:block;
        padding:10rem;
        &:focus {
            box-shadow:0 0 0 1px $color-accent inset!important;
        }
        &[disabled] {
            color:$color-text-fade;
        }
    }
}

.tab.on.stack {
    display: flex;
    flex-direction: column;

     > .widget {
        width: auto;
         height:auto;
         flex-shrink: 0;
         margin-left:6rem;
    }
}

.tab.on.stretch {
    display:flex;
    justify-content: space-between;
    > .widget {
        width:100%;
    }
}

/* STRIP (contains any widgets) */



.strip-container {
    width:100rem;
    height:100%;
    overflow: visible;
    border-bottom:0;
    background: none;
    box-shadow:none;
    > .label {
        // position: relative;
        background:$bg-3d;
        box-shadow: 0 0 0 1px $color-bg inset;
    }

    &.no-stretch {
        height:auto;
        min-height:100%;
        .strip .widget {
            height: auto;
        }
    }
    &.nolabel .strip:not(.horizontal) > .widget:first-child {
            border-top:0;
    }
    .strip:not(.horizontal) > .widget {
            width:auto;
    }
    &.nolabel .strip.horizontal > .widget {
            border-top:0;
    }

    .strip {
        &.horizontal {
            flex-direction: row;
            align-items: flex-start;

            > .widget {
                border-bottom-width: 0;
                border-right-width:6rem;
                width:auto;
                flex-shrink: initial;
            }
        }
        height: 100%;
        display: flex;
        flex-direction: column;

        > .widget {
            display: block;
            margin: 0;
            // width:100%;
            &:not(:last-child) {
                border-bottom-width:0;
            }
        }

    }
}




/* BUTTONS */

.toggle-container {
    width:100rem;
    flex-shrink: 0;
    padding:0!important;
    .label {
        position: absolute;
        top:0;
        left:0;
        right:0;
        bottom:0;
        padding:29rem 10rem 26rem;
        line-height: 1rem;
        background: none!important;
        text-align: center;
        pointer-events:none;
    }
    &:hover {
        background: $bg-3d-hover;
    }

    // box-shadow: 0 0 0 1px $color-bg inset;
    cursor: pointer;
}

.toggle {

    z-index: 1;
    padding:29rem 10rem 26rem;
    .light {
        position: absolute;
        left:4rem;
        right:4rem;
        top:4rem;
        height:4rem;
        background: $color-border;
        border-radius: 3rem;
    }
    &.on .light {
        background: $color-accent;
    }
}


.switch-container {
    // height: 100%;
    width:100rem;
    flex-shrink: 0;
    .switch {
        height:100%;
        width:100%;
        cursor: pointer;
        display: flex;
        flex-direction:column;
        align-items: stretch;
        padding-bottom: 1px;
        .value {
            background:$bg-3d;
            color:$color-text-fade;
            width:100%;
            position: relative;
            border-top: 1px solid $color-fg;
            padding:12rem 12rem 12rem 24rem ;
            white-space: normal;
            text-align: left;
            word-break: break-all;
            overflow: hidden;
            &:hover {
                background: $bg-3d-hover;
            }
            &:last-child {
                margin-bottom:0;
            }
            &:after {
                content:"";
                position: absolute;
                left:8rem;
                top:50%;
                width:8rem;
                height:8rem;
                margin-top: -4rem;
                background: $color-border;
                border-radius: 8rem;
            }
            &.on {
                &:after {
                    background: $color-accent;
                }
            }
        }
    }
}




/* XY */

.xy-container, .rgb-container {
    width:300rem;
    flex-shrink: 0;
}
.xy-wrapper {

    overflow: hidden;
    .value {
        width:100%;
    }
    input {
        width:50%;
        float:left;
        padding: 2rem;
        text-align: center;
        position: relative;
        left:0rem;
        right:0rem;
        box-shadow: 0 0 1px 0 $color-border inset;
    }
}
.xy {
    position:relative;
    width:100%;
    padding-bottom: 90%;
    // border:1px solid $color-border;
    //background: $color-bg;
    overflow: hidden;
    .handle {
        position:absolute;
        height:0rem;
        width:0rem;
        bottom:0;
        left:0;
        max-height:100%;
        max-width:100%;
        z-index:2;
        cursor: -webkit-grab;
        &:active {
            cursor: -webkit-grabbing;
            &:after {
                transform: scale(1.5);
            }
        }
        &:after {
            content:"";
            position:absolute;
            top:-.5rem;
            right:-1px;
            //box-shadow:0 0 10rem 0rem #aaa inset,0 0 1px 1px rgba(0,0,0,.5),0 0 0 3rem rgba(255,255,255,.2)!important;
            border-radius:100%!important;
            //background:$color-accent!important;
            width: 20rem;
            height: 20rem;
            margin:-10rem -10rem 0 0;
            box-shadow: 0 0 0 1000rem rgba($color-base,.5), 0 0 0 1px rgba(white,.2);
        }

        &::before {
            content:"";
            position:absolute;
            top:-.5rem;
            left:-1px;
            width:2000rem;
            height:2000rem;
            margin:-1000rem 0 0 -1000rem;
        }
    }
}



.rgb-wrapper {
    input {
        width:33.33%;
    }
}

.rgb {
	background-color: red;
	&:before, &:after {
		content:"";
		position: absolute;
		left:0;
		top:0;
		width: 100%;
		height: 100%;
	}
	&:before {
		background: linear-gradient(to right, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%);
	}
	&:after {
		background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,1) 100%); /* W3C */
	}
    .handle {
        span {
            //background: rgba($color-base,.35)
        }
    }
}
.hue {
    width:100%;
    height:30rem;
    background:transparent linear-gradient(to left, #F00, #FF0080, #F0F, #8000FF, #00F, #0080FF, #0FF, #00FF80, #0F0, #80FF00, #FF0, #FF8000, #F00) repeat scroll 0% 0%;
    overflow: hidden;
    position: relative;
    .handle {
        position:absolute;
        height:100%;
        max-width: 100%;
        width:0;
        z-index:2;
        left:0;
        bottom:0;
        cursor: -webkit-grab;
        &:active {
            cursor: -webkit-grabbing;
            &:after {
                transform: scale(1.5);
            }
        }
        &:after {
            content:"";
            position:absolute;
            top:50%;
            right:-1px;
            box-shadow: 0 0 0 1000rem rgba($color-base,.5), 0 0 0 1px rgba(white,.2);
            border-radius:100%!important;
            width: 11rem;
            height: 11rem;
            margin:-5rem -4rem 0 0;
        }
        &:before {
            content:"";
            position:absolute;
            top:0;
            left:0;
            width:2000rem;
            height:100%;
            margin-left:-1000rem;

        }
    }

}






// FADER

.fader-container {
    width:100rem;
    min-width: 80rem;
    height:100%;
    min-height: 300rem;

    &.nolabel .fader-wrapper-outer {
        top:0;
    }

    .fader-wrapper-outer {
        padding-bottom:30rem;
        position: absolute;
        top:30rem;
        bottom:0;
        left:1px;
        right:1px;
        input {
            position:absolute;
            bottom:0;
        }
    }

    .fader-wrapper {
        padding:20rem;
        overflow:hidden;
        height:100%;
        position: relative;

        .fader {
            height:100%;
            width:4rem;
            background:$color-border;
            position: relative;
            margin:0 auto;
            left:-25rem;
            .handle {
                position: absolute;
                bottom:0!important;
                top:auto!important;
                width:100%;
                height:0rem;
                max-height:100%;
                max-width:100%;
                cursor: -webkit-grab;
                background:$color-accent;
                z-index: 1;
                &:active {
                    cursor: -webkit-grabbing;
                }
                // &:before {
                //     content:"";
                //     position: absolute;
                //     top:-6rem;
                //     left:-2rem;
                //     width:8rem;
                //     height:12rem;
                //     border-radius: 2rem;
                //     background:$color-text-fade;
                // }
                &:after {
                    content:"";
                    position: absolute;
                    height:2000rem;
                    width:2000rem;
                    margin:-1000rem 0 0 -1000rem;

                }
            }
        }

        .pips {
            position: absolute;
            top:-1%;
            bottom:1%;
            left:14rem;
            .pip {
                height:1%;
                width:4rem;
                border-bottom:1px solid $color-text;
                &.val {
                    width:10rem;
                    position: relative;
                    span {
                        position: relative;
                        width:30rem;
                        display: block;
                        text-align: center;
                        font-size:11rem;
                        line-height: 12rem;
                        left:15rem;
                        top:-2rem;
                        color:$color-text;
                    }
                }
            }
        }
    }
}


.fader-container.horizontal {
    min-height: 80rem;
    height: auto;
    width:300rem;
    flex-shrink: 0;
    .fader-wrapper-outer {
        position: relative;
        top:auto;
        padding-bottom: 35rem;
        .fader-wrapper {
            padding:20rem 20rem 50rem;
        }
        .fader {
            width:100%;
            height:4rem;
            .handle {
                height:100%!important;
                width:0;
            }
        }
        .pips {
            top:14rem;left:0;
            right:0;
            display: flex;
            flex-direction:row;
            align-items: stretch;
        }
        .pip {
            width:100%;
            display: block;
            height:4rem;
            border-bottom:0;
            border-right:1px solid $color-text-fade;
            &.val {
                width:1%;
                float:left;
                height:10rem;
                span {
                    top:15rem;
                    left:-15rem;
                }
            }
        }
    }
}




.knob-container {
    width: 100rem;
    // min-width: 100rem;
    min-height: 135rem;
    flex-shrink: 0;
    &.nolabel .knob-wrapper-outer{
        padding-top:15rem;
    }
    .knob-wrapper-outer {
        width: 100%;
        top: 0;
        bottom: 0;
        overflow: hidden;

        input {
            bottom:0;
            position: relative;
            z-index: 1;
        }

        .knob-wrapper {
            padding:5rem 20rem 20rem 20rem ;
            margin:0 auto;

            width:95rem;
            position: relative;
            .knob-mask {
                width:100%;
                padding-bottom:100%;
                border-radius:100%;
                position: relative;
                &:before {
                    content:"";
                    position:absolute;
                    top:0;left:0;
                    right:0;
                    bottom:0;
                    border-radius:100%;
                    border:4rem solid $color-border;
                    border-bottom-color: transparent;
                    pointer-events: none;z-index:0;
                }
                &:after {
                    content:"";
                    position:absolute;
                    top:0rem;left:-3rem;
                    right:-3rem;
                    bottom:-2rem;
                    border-radius:100%;
                    border:12rem solid transparent;
                    border-bottom-color: mix($color-text,$color-fg,2);
                    pointer-events: none;
                }
            }
            .knob {
                position:absolute;
                top:0;left:0;
                right:0;
                bottom:0;
                cursor: -webkit-grab;
                &:active {
                    cursor: -webkit-grabbing;
                }
                &:before {
                    content:"";
                    position:absolute;
                    top:20rem;left:20rem;
                    right:20rem;
                    bottom:20rem;
                    border-radius:100%;
                    background:transparentize($color-text,.8);
                    box-shadow: 0 0 0 4rem $color-bg;
                    z-index: 100;
                }
                &:after {
                    content:"";
                    position:absolute;
                    top:0;left:0;
                    right:0;
                    bottom:0;
                    border-radius:100%;
                    border:4rem solid transparent;
                    border-bottom-color: $color-accent;
                }

                &.d2:after {
                    border-right-color: $color-accent;
                }
                &.d3:after {
                    border-top-color: $color-accent;
                    border-right-color: $color-accent;
                }


                span {
                    position: absolute;
                    height:3rem;
                    width:3rem;
                    background:transparentize($color-text,.8);
                    margin:7rem 0 0 -3rem;
                    left:50%;
                    top:50%;
                    transform-origin: center -6rem;
                    transform: rotate(45deg);
                    z-index: 100;
                    &:after {
                        content:"";
                        position: absolute;
                        height:2000rem;
                        width:2000rem;
                        margin:-1000rem 0 0 -1000rem;

                    }
                }

                // no color gauge test
                &.dot:after {
                    content:"";
                    position:absolute;
                    bottom:11rem;
                    left:12rem;
                    height:4rem;
                    width:4rem;
                    transform: rotate(45deg);
                    background:$color-accent;
                    border:0!important;
                }

            }
            .pip {
                position:absolute;
                font-size:11rem;
                color:$color-text;
                pointer-events: none;
                &.min {
                    bottom:10rem;
                    left:0;
                    right:50%;
                    width:50%;
                    text-align:center;
                }
                &.max {
                    bottom:10rem;
                    left:50%;
                    width:50%;
                    right:0;
                    text-align:center;
                }
            }
        }
    }
}


.led-container {
    width:100rem;
    flex-shrink: 0;

    .led {
        padding:10rem 1px 5rem;
        div {
            border-radius: 100%;
            width: 60%;
            margin: 0 auto;
            overflow: hidden;
            background:$color-border;
            span {
                padding-bottom:100%;
                display:block;
                background-color:$color-accent;
            }
        }
    }
}
