:root {
	--color-text: rgba(0,0,0,0.7);
	--color-text-fade: rgba(0,0,0,0.5);

    --color-accent:rgba(28, 133, 239, 1);
    --color-grid:  rgba(28, 133, 239, .1);

	--color-bg: #bbb;
	--color-fg: #ddd;
    --color-raised: #efefef;
	--color-track: #dadada;
    --color-light: rgba(255,255,255,0.5);

	--color-white: black;
}

.keyboard-container {
	--color-black-key: #ccc;
    --color-white-key: #eee;

}
