
.md-header, .md-tabs {
    background:rgb(49, 63, 85)!important;
}

@media only screen and (max-width: 76.1875em) {
.md-header, .md-nav__title--site {
    background:rgb(49, 63, 85)!important;
}
}

.md-header-nav__button.md-logo {
    margin-right:-1rem!important;
}

.md-nav__title--site, .md-header-nav__title {
    padding-top: 1px;
    text-transform: uppercase;
    font-size: 1.4rem!important;
    /* font-weight:500!important; */
    letter-spacing:1px;
}

a.button {
    background:rgb(82, 168, 255);
    color:white!important;
    display: inline-block;
    padding: 5px 10px;
    border-radius: 3px;
    transition: opacity .2s;
}

a.button:hover {
    opacity: 0.90;
}

.align-center {
    text-align: center;
}

article img {
    border-radius: 3px;
}

code + i {
    vertical-align:super;
    font-size: 75%;
    margin-left: -5px;
    opacity: 0.75!important;
}
