.fader-container {
    --color-pips: var(--color-text-fade);
    --color-gauge: var(--color-custom);
    --color-knob: var(--color-custom);

    width:100rem;
    height:100%;
    &.horizontal {
        height:130rem;
        width:100%
    }


}

.fader {
    height:100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    position: relative;

    .wrapper {
        overflow: hidden;
        flex:1;
        max-height: 100%;
        width: 100%;
        position: relative;
        display: flex;

        canvas {
            image-rendering: pixelated;
            width: 100%;
        }

        .meter-container {
            pointer-events: none;
            position: absolute;
            top:14rem;
            bottom:15rem;
            left:50%;
            height: auto;
            width:3rem;
            min-width: 3rem;
        }

    }
    &:not(.has-pips):not(.compact):not(.horizontal) {
        .meter-container {
            margin-left: 14rem;
        }
        &.align-right {
            .meter-container {
                margin-left: -18rem;
            }
        }
    }
    &.has-pips {

        > .wrapper > canvas {
            padding-right: 28rem;
        }

        .pips {
            pointer-events: none;

            position: absolute;
            top:16rem;
            bottom:16rem;
            left:50%;
            z-index: 0;
            width: 4rem;
            margin-left: 7rem;
            background: linear-gradient(to bottom, transparent 0, transparent 2px, var(--color-pips)  2px, var(--color-pips) 3px, transparent 3px, transparent 5px);
            background-size: 100% 5px;
            background-repeat: repeat-y;

            .pip {
                height:1px;
                background: var(--color-pips);
                color:var(--color-fg);
                position: absolute;
                width:8rem;
                left:0;
                &:before {
                    content:"";
                    position: absolute;
                    top:-4px;
                    left:0;
                    right:0;
                    bottom:-4px;
                    background: var(--color-fg);
                    z-index: -1;
                }
                span {
                    position: absolute;
                    width:30rem;
                    display: block;
                    text-align: center;
                    font-size:10rem;
                    line-height: 12rem;
                    left:3rem;
                    top:-5.5rem;
                    color:var(--color-pips);
                }
            }
        }

        &.align-right {
            > .wrapper > canvas {
                padding-right: 0;
                padding-left: 28rem;
            }
            .wrapper .meter-container {
                left: auto;
                right:50%;
                margin-left: 0;
            }
            .pips {
                margin-left: 0;
                margin-right: 7rem;
                left:auto;
                right:50%;
                .pip {
                    right:0;
                    left:auto;
                    span {
                        right:3rem;
                        left:auto;
                    }
                }
            }
        }
    }
    &.horizontal {
        &:not(.compact).has-pips .wrapper canvas, &:not(.compact).has-meter .wrapper canvas {
            padding-right:0;
            padding-bottom: 20rem;
        }

        .wrapper .meter-container {
            left:14rem;
            right:15rem;
            height: 3rem;
            min-height: 3rem;
            width: auto;
            top:50%;
            margin-top: 3rem;
            canvas {
                padding:0!important;
            }
        }

        .pips {
            top:50%;
            left:16rem;
            right:16rem;
            font-size: 0;
            height:4rem;
            width:auto;
            margin:0;
            margin-top: 10rem;
            background: linear-gradient(to right,  transparent 0, transparent 2px, var(--color-pips)  2px, var(--color-pips) 3px, transparent 3px, transparent 5px);
            background-size: 5px 100%;
            background-repeat: repeat-x;
            .pip {
                width:1px;
                height:6rem;
                margin: 0;
                &:before {
                    top:0;
                    bottom:0;
                    left:-4px;
                    right:-4px;
                }
                span {
                    top:15rem;
                    left:-15rem!important;
                    right:auto;
                }
            }
        }
    }
    &.compact {
        --color-pips: var(--color-raised);

        border:1rem solid var(--color-light);
        .wrapper > canvas {
            border:1rem solid var(--color-bg);
        }
        .wrapper {

            canvas {
                background: var(--color-track);
            }
        }
        .input {
            overflow: hidden;
            position: absolute;
            top:50%;
            transform: rotate(-90deg);
            pointer-events: none;
            width: 100rem;
            margin-left: -50rem;
            left:50%;
            z-index: 3;
            margin-top: -12rem;
        }
        .meter-container {
            top: -1rem;
            bottom: 0;
            left: auto;
            right:0;
            border-right-width: 0;
            border-bottom-width: 0;
        }
        &.align-right {
            .meter-container {
                right: auto;
                left:0;
                border-right-width: 1rem;
                box-shadow: none;
            }
        }
        &.horizontal {
            .meter-container {
                top: auto;
                bottom: 0;
                left: -1rem;
                right:0;
                height: 3rem;
                min-height: 3rem;
                width: auto;
            }
            .input {
                transform: none;
                top:50%;
            }
        }
    }
}
