.input-container {
    width: 100rem;
    height: 60rem;
    padding:1rem;
    .horizontal  {
        input {
            transform: rotate(-90deg);
            vertical-align: middle;
        }
    }
}
.widget {
     .input {
        display: flex;
        flex: 1 1 100%;
        background:transparent;
        color:var(--color-text-fade);
        overflow: hidden;
        text-align:center;
        padding:1rem;
        border: 1rem solid var(--color-bg);
        background: var(--color-track);
        font-size: 109%;

        input {
            display: block;
            flex:1;
            max-width: 100%;
            font: inherit;
            border:0;
            padding:0;
            background: transparent;
            color:var(--color-accent);
            border-radius: inherit;
            -webkit-appearance:none;
            text-align:inherit;
            vertical-align: top;
            letter-spacing: 1rem;
            &:focus {
                color:var(--color-custom);
            }
        }
        canvas {
            flex:1;
            max-width: 100%;
        }
        input + canvas {
            display: none;
            width: 0;
        }


    }

}

.panel:not(.tab) > .input-container {
    padding: 0rem;
    > .input {
        box-shadow: 0 0 0 1rem var(--color-fg);
        margin:1rem;
        outline: 1rem solid var(--color-light);
        border: 1rem solid var(--color-bg);
    }
}
