.knob-container, .encoder-container {
    --color-pips: var(--color-text-fade);
    --color-gauge: var(--color-custom);
    --color-knob: var(--color-custom);

    width: 100rem;
    height: 120rem;
    align-items: center;
    .input {
        // display: none!important;
    }
}

.knob {
    height:100%;
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    position: relative;

    .wrapper {
        overflow: hidden;
        flex:1;
        max-height: 100%;
        width: 100%;
        position: relative;
        display: flex;

        canvas {
            width: 100%;
            position: relative;
            image-rendering: pixelated;
        }
    }

    .pips {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        display: flex;
        justify-content: space-between;
        pointer-events: none;
        div {
            padding: 0 8%;
            font-size: 11rem;
            color: var(--color-text-fade);
        }
    }
}

.encoder-container {

    --color-gauge: transparent;

}

.encoder {

    height:100%;
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    position: relative;

    .wrapper {
        overflow: hidden;
        flex:1;
        max-height: 100%;
        width: 100%;
        position: relative;
        display: flex;
    }

    .input {
        display: none;
    }

    .display-knob {
        position: absolute;
        top:0;
        bottom:0;
        left:0;
        right:0;
        pointer-events: none;
    }

    .drag-knob {
        opacity: 0;
    }
}
