.knob-container {
    --color-pips: var(--color-text-fade);
    --color-gauge: var(--color-custom);
    --color-knob: var(--color-custom);

    width: 100rem;
    height: 120rem;
    align-items: center;
    flex-shrink: 0;
}

.knob {
    height:100%;
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    position: relative;

    .wrapper {
        overflow: hidden;
        flex:1;
        max-height: 100%;
        width: 100%;
        position: relative;

        canvas {
            height: 100%;
            width: 100%;
            position: relative;
        }
    }
    &.compact {
        .input {
            position: absolute;
            top:calc(50% - 12rem);
            pointer-events: none;
        }
    }
    .pips {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        display: flex;
        justify-content: space-between;
        pointer-events: none;
        div {
            padding: 0 8%;
            font-size: 11rem;
            color: var(--color-text-fade);
        }
    }
}
