/* Multiple widgets (push|toggle|fader) matrix */
.matrix-container,
.multitoggle-container,
.multipush-container,
.multifader-container {
    &.editing {
        overflow: hidden;
    }
    height:200rem;
    width:200rem;
    &.nolabel .matrix {
        top:0;
    }

}

.matrix {
    flex: 1 1 100%;
    overflow: auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    padding:1rem 2rem 2rem 1rem;
    touch-action: none;
    --color-border:var(--color-bg);
    --spacing:0;

    > .widget {
        min-height: 0;
        min-width: 0;
        height: auto;
        width: calc( 100% / var(--columns) - var(--spacing));
        margin: calc(var(--spacing) / 2);
        // .label {
        //     background:none;
        //     border:0;
        // }
    }

    &.noborders {
        .widget{
            border: none;
            box-shadow:none;
        }
    }
}

.multifader-container {
    .matrix {
        align-items:stretch;
        flex-wrap: nowrap;
        &.horizontal {
            flex-direction: column;
            display: flex;
            .fader-container {
                flex-direction: row;
                flex:1;
                .fader {
                    width:100%;
                }
                .label {
                    width:30rem;
                    height:auto;
                    max-height: initial;
                    margin-right: -5rem;
                }
            }

        }
        > .widget {
            height: auto;
            flex:1;

            > .fader {
                height: auto;
                flex: 1 1 100%;

            }
        }
        &.compact {
            > .widget {
                box-shadow: 1rem 0 0 0 var(--color-bg),
                            0 1rem 0 0 var(--color-bg),
                            1rem 1rem 0 0 var(--color-bg);
                .label {
                    box-shadow: 0 0 0 1rem var(--color-light) inset;
                }
                padding:0;
                .wrapper {
                    border:0;
                    border-top:1rem solid var(--color-bg);
                    canvas{
                        border:none;
                    }
                }
            }
            &.horizontal {
                > .widget {
                    .wrapper {
                        border:0;
                        border-left:1rem solid var(--color-bg);
                    }
                    .label {
                        margin-right: 0;
                    }
                }
            }
        }
    }
    .fader-wrapper {
        padding:10rem 0 20rem!important;
        .fader {
            left:0!important;
        }
    }

}

.keyboard-container {
    --color-black-key: var(--color-raised);
    --color-white-key: #aaa;
    height:90rem;
    width:240rem;
    .matrix {
        position: relative;
        overflow: hidden;
        > .widget {
            border-radius: 0!important;
            &.white:first-child {
                border-top-left-radius:inherit!important;
                border-bottom-left-radius:inherit!important;
            }
            &.white:last-child {
                border-top-right-radius:inherit!important;
                border-bottom-right-radius:inherit!important;
            }
        }
        .white {
            --color-raised: var(--color-white-key);
            .toggle:before {
                box-shadow: 0 0 0 1rem var(--color-light) inset,
                            0 0 0 1rem var(--color-light) inset;
            }


        }
        .black {
            --color-raised: var(--color-black-key);
            position: absolute;
            z-index: 2;
            top:1rem;
            height: 65%;
            .toggle:before {
                border-bottom:2rem solid var(--color-bg);
                box-shadow: 0 0 0 1rem var(--color-light) inset,
                            0 -1rem 0 0 var(--color-light) inset;
            }
        }
        .on {
            background: var(--color-custom)
        }
    }
}
