/* Multiple widgets (push|toggle|fader) matrix */
.multitoggle-container, .multipush-container, .multifader-container {
    &.editing {
        overflow: hidden;
    }
    height:200rem;
    width:200rem;
    &.nolabel .matrix {
        top:0;
    }

}

.matrix {
    flex:1;
    overflow: auto;
    // background: var(--color-bg);
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    padding:1rem 2rem 2rem 1rem;

    > .widget {
        min-height: 0;
        min-width: 0;
        // margin:0!important;
        height: calc( 100% / var(--rows) - var(--spacing));
        width: calc( 100% / var(--columns) - var(--spacing));
        margin: calc(var(--spacing) / 2);
        .label {
            background:none;
            border:0;
        }
    }
}

.multifader-container {
    .matrix {
        // padding:0!important;
        align-items:stretch;
        flex-wrap: nowrap;
        &.horizontal {
            flex-direction: column-reverse;
            display: flex;
            .fader-container {
                flex-direction: row;
                width: 100%;
                .fader {
                    width:100%;
                }
                .label {
                    width:30rem;
                    height:auto;
                    max-height: initial;
                    margin-right: -5rem;
                }
            }

        }
        > .widget {
            height: auto;

            > .fader {
                height: auto;
                flex: 1;

            }
        }
        &.compact {
            > .widget {
                box-shadow: 0.5rem 0.5rem 0 0.5rem var(--color-bg);
                .label {
                    box-shadow: 0.5rem 0.5rem 0 0.5rem var(--color-bg);
                    box-shadow: 0 0 0 1rem var(--color-light) inset;
                }
                padding:0;
                .wrapper {
                    border:0;
                    border-top:1rem solid var(--color-bg);
                    canvas{
                        border:none;
                    }
                }
            }
            &.horizontal {
                > .widget {
                    .wrapper {
                        border:0;
                        border-left:1rem solid var(--color-bg);
                    }
                    .label {
                        margin-right: 0;
                    }
                }
            }
        }
    }
    .fader-wrapper {
        padding:10rem 0 20rem!important;
        .fader {
            left:0!important;
        }
    }

}

.keyboard-container {
    --color-black: var(--color-raised);
    --color-white: #ccc;
    height:90rem;
    width:240rem;
    .matrix {
        position: relative;
        overflow: hidden;
        .white {
            --color-raised: var(--color-white);
            // &.active {
            //     background:var(--color-custom);
            // }
        }
        .black {
            --color-raised: var(--color-black);
            position: absolute;
            z-index: 2;
            top:1rem;
            height: 65%;
            // &.active {
            //     background:var(--color-custom);
            // }
        }
        .on {
            background: var(--color-custom)
        }
    }
}
