.formula-container {
    width: 100rem;
    height:60rem;
    padding:1rem;
    .formula {
        display:flex;
        height:100%;
        background: var(--color-track);
        border:1rem solid var(--color-bg);
        @extend .glass-effect;
        .input {
            background: transparent!important;
            border: 0!important;
            --color-text: var(--color-custom);
            pointer-events: none;
        }
    }
}

.panel:not(.tab) > .formula-container {
    --color-border:transparent;
    padding: 0rem;
    .formula {
        margin: 1rem;
        box-shadow: 0 0 0 1rem var(--color-fg);
        outline:1rem solid var(--color-light);
        border: 1rem solid var(--color-bg);
    }
}
