.xy-container, .rgb-container, .multixy-container {
    width:200rem;
    height:250rem;
    flex-shrink: 0;
    .label {
        flex-shrink: 0;
    }
}
.pad {
    height:100%;
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    .row {
        display: flex;
        text-align: center;
        flex-shrink: 0;
        background: var(--color-fg);
    }
    > .wrapper {
        position: relative;
        height: 100%;
        width: 100%;
        background:var(--color-faded);
        box-shadow: 0 1rem 0 0 var(--color-light);

        &:after {
            content:"";
            position: absolute;
            box-shadow: 0 10rem 10rem -11rem var(--color-bg) inset, 0 -10rem 10rem -11rem var(--color-bg) inset;
            height: 100%;
            width: 100%;
            pointer-events: none;
            z-index: 2;
        }
        > canvas {
            width:100%;
            height:100%;
            position: absolute;
            pointer-events: none;
            z-index: 1;
        }
        .fader {
            pointer-events: none;
            position: absolute;
            width:100%;
            height:100%;
            z-index: 0;
            --color-knob:transparent;
            --color-gauge:transparent;
            box-shadow: none;
            * {
                background: transparent!important;

            }
            .input {
                display: none;
            }
        }
    }
}

.rgb-container {
    .pad {
        > .wrapper {
            background: red;
            > canvas {
                z-index: 1;
            }
            .fader {
                --color-knob:transparent;
                --color-gauge:transparent;
            }
            &:before {
        		content:"";
        		position: absolute;
        		left:0;
        		top:0;
        		width: 100%;
        		height: 100%;
        	}
            &:before {
                background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,1) 100%), linear-gradient(to right, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%);
            }
        }
        > .hue-wrapper {
            position: relative;
            height: 30rem;
            z-index: 1;

            &:before {
        		content:"";
        		position: absolute;
        		left:0;
        		top:11rem;
        		left:12rem;
                right:12rem;
        		height: 8rem;
                background:transparent linear-gradient(to left, #F00, #FF0080, #F0F, #8000FF, #00F, #0080FF, #0FF, #00FF80, #0F0, #80FF00, #FF0, #FF8000, #F00) repeat scroll 0% 0%;
                z-index: -1;
                opacity: .6;
                border-radius: 15rem;
                box-shadow: 0 0 0 7rem var(--color-bg), 0 1rem 0 7rem var(--color-light), 0 1rem 0 7rem var(--color-light);
        	}
            .fader {
                --color-knob:white;
                --color-gauge:transparent;
                --color-track:transparent;
                canvas {
                    background: transparent;
                }
            }
            .input {
                display: none;
            }
        }
    }
}


.multixy-container {
    > .pad {
        --point-size:10rem;
        &:after {
            content:"";
            position: absolute;
            box-shadow: 0 10rem 10rem -12rem var(--color-bg) inset, 0 -10rem 10rem -12rem var(--color-bg) inset;
            height: 100%;
            width: 100%;
            pointer-events: none;
            z-index: 2;
        }

        > .wrapper {
            padding: calc(var(--point-size) + 1rem);
            &:after {
                content:none;
            }
            > canvas {
                top:0;
                left:0;
            }
            .handle {
                position: absolute;
                width:calc(100% - 2 * var(--point-size) - 2rem);
                height:calc(100% - 2 * var(--point-size)  - 2rem);
                cursor: -webkit-grab;
                z-index: 1;
                &.active {
                    pointer-events: none;
                }
            }
            > .pad {
                pointer-events: none;
                position: absolute;
                width:calc(100% - 2 * var(--point-size) - 2rem);
                height:calc(100% - 2 * var(--point-size)  - 2rem);
                .wrapper {
                    background: transparent;
                    &:after {
                        content:none;
                    }
                }
                .row {
                    display: none;
                }
                &:not(:nth-child(2)) {
                    opacity: 0;
                }
            }
        }
    }
}
