.xy-container, .rgb-container, .multixy-container {
    width:200rem;
    height:230rem;
    padding:1rem;

    .label {
        flex-shrink: 0;
        z-index: 1;
    }

    .pad {
        height:100%;
        width: 100%;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        > .input {
            margin-top: 2rem;
            height: 25rem;
            flex:initial!important;
            flex-shrink: 0!important;
            background: transparent!important;
            border: 0!important;
        }
        > .wrapper {
            position: relative;
            flex:1;
            background:var(--color-track);
            border: 1rem solid var(--color-bg);
            touch-action: none;

            > canvas {
                width:100%;
                height:100%;
                position: absolute;
                pointer-events: none;
                z-index: 1;
            }
            .fader {
                pointer-events: none;
                position: absolute;
                width:100%;
                height:100%;
                z-index: 0;
                --color-knob:transparent;
                --color-gauge:transparent;
                box-shadow: none;
                border: 0;
                * {
                    background: transparent!important;

                }
                .wrapper {
                    border:none;
                }
                .input {
                    display: none;
                }
            }
        }
    }


}

.panel:not(.tab) > .xy-container,
.panel:not(.tab) > .rgb-container,
.panel:not(.tab) > .multixy-container {
    --color-border:transparent;
    padding: 0;
    > .pad {
      padding: 1rem;
    }
    > .pad > .wrapper {
        outline:1rem solid var(--color-light);
        box-shadow: 0 0 0 1rem var(--color-fg);
        border: 1rem solid var(--color-bg);
    }
    .hue-wrapper {
        outline:1rem solid var(--color-light);
        box-shadow: 0 0 0 1rem var(--color-fg);
    }
}

.rgb-container {
    > .pad {
        > .wrapper {
            // background: none!important;

            image-rendering:pixelated;
            > .pad {
                --color-custom:var(--color-white);
                position: absolute;
                .wrapper {
                    border:0;
                    background: transparent;
                }
                canvas {
                    border:0;
                    left:0;
                }
                .input {
                    display: none;
                }
            }
            > canvas {
                top:var(--pointSize);
                left:var(--pointSize);
                flex:0;
                height:calc(100% - 2 * var(--pointSize));
                width:calc(100% - 2 * var(--pointSize));
                background-color: red;
                background-clip: content-box;
                background-image: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,1) 100%), linear-gradient(to right, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%);
                opacity: 0.7;
            }
        }
        .hue-wrapper {
            --color-gauge:transparent;
            --color-knob:var(--color-white);
            margin-top: -1rem;
            height: calc(2 * var(--pointSize) + 8rem);
            .wrapper {
                &:after {
                    content:"";
                    display: block;
                    position: absolute;
                    top:50%;
                    margin-top: -2rem;
                    left:var(--pointSize);
                    right:var(--pointSize);
                    height: 4rem;
                    background: linear-gradient(to left, #F00, #FF0080, #F0F, #8000FF, #00F, #0080FF, #0FF, #00FF80, #0F0, #80FF00, #FF0, #FF8000, #F00) repeat scroll 0% 0%;
                    box-shadow: 0 0 0 4rem var(--color-track);
                    z-index: 1;
                }
                background:var(--color-track);
            }
            canvas {
                background:transparent;
                opacity: 0.7;
                margin: 2rem 0;
            }
        }
    }
}


.multixy-container {
    > .pad {
        text-align: center;
        font-size: 109%;

        > .wrapper {

            > canvas {
                top:0;
                left:0;
            }

            > .pad {
                pointer-events: none;
                position: absolute;
                .wrapper {
                    border:0;
                    background: transparent;
                }
                canvas {
                    border:0;
                    left:0;
                }
                .input {
                    display: none;
                }
            }
        }
    }
}
