.xy-container, .rgb-container, .multixy-container {
    width:200rem;
    height:250rem;
    padding:1rem;
    .label {
        flex-shrink: 0;
        z-index: 1;
    }

}

.panel:not(.tab) > .xy-container,
.panel:not(.tab) > .rgb-container,
.panel:not(.tab) > .multixy-container {
    --color-border:transparent;
    padding: 0;
    > .pad {
      padding: 1rem;
    }
    > .pad > .wrapper {
        outline:1rem solid var(--color-light);
        box-shadow: 0 0 0 1rem var(--color-fg);
        border: 1rem solid var(--color-bg);
    }
}

.pad {
    height:100%;
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    .row {
        display: flex;
        text-align: center;
        flex-shrink: 0;
        .input {
            flex:1;
        }
    }
    > .wrapper {
        position: relative;
        height: 100%;
        width: 100%;
        background:var(--color-track);
        border: 1rem solid var(--color-bg);

        > canvas {
            width:100%;
            height:100%;
            position: absolute;
            pointer-events: none;
            z-index: 1;
        }
        .fader {
            pointer-events: none;
            position: absolute;
            width:100%;
            height:100%;
            z-index: 0;
            --color-knob:transparent;
            --color-gauge:transparent;
            box-shadow: none;
            border: 0;
            * {
                background: transparent!important;

            }
            .wrapper {
                border:none;
            }
            .input {
                display: none;
            }
        }
    }
}

.rgb-container {
    .pad {
        > .wrapper {
            margin: 6rem;
            width: auto;
            background-color : red;
            background-clip: content-box;
            background-image: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,1) 100%), linear-gradient(to right, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%);

            image-rendering:pixelated;
            > canvas {
                z-index: 1;
            }
            .fader {
                --color-knob:transparent;
                --color-gauge:transparent;
            }
        }
        > .hue-wrapper {
            height: 14rem;
            margin: 6rem;
            z-index: 1;
            .fader {
                position: relative;
                box-shadow: 0 0 0 1rem var(--color-light);
                &:after {
                    content:"";
                    position: absolute;
                    left:2rem;
                    top:1rem;
                    bottom:1rem;
                    right:1rem;
                    background:transparent linear-gradient(to left, #F00, #FF0080, #F0F, #8000FF, #00F, #0080FF, #0FF, #00FF80, #0F0, #80FF00, #FF0, #FF8000, #F00) repeat scroll 0% 0%;
                    z-index: -1;
                    opacity: 0.7;
                }
                --color-knob:white;
                --color-gauge:transparent;
                --color-track:transparent;
            }
            .input {
                display: none;
            }
        }
    }
}


.multixy-container {
    > .pad {
        --point-size:10rem;
        > .wrapper {
            padding: calc(var(--point-size) + 1rem);

            > canvas {
                top:0;
                left:0;
            }
            .handle {
                position: absolute;
                top:   calc( var(--point-size) + 1rem);
                left:  calc( var(--point-size) + 1rem);
                right: calc( var(--point-size) + 1rem);
                bottom:calc( var(--point-size) + 1rem);
                cursor: -webkit-grab;
                z-index: 1;
                &.active {
                    pointer-events: none;
                }
                &:after {
                    content:"";
                    position: absolute;
                    top:   calc( -1 * var(--point-size));
                    left:  calc( -1 * var(--point-size));
                    right: calc( -1 * var(--point-size));
                    bottom:calc( -1 * var(--point-size));
                }
            }
            > .pad {
                pointer-events: none;
                position: absolute;
                width:calc(100% - 2 * var(--point-size) - 2rem);
                height:calc(100% - 2 * var(--point-size)  - 2rem);
                .wrapper {
                    border:0;
                    background: transparent;
                }
                canvas {
                    border:0;
                }
                .row {
                    display: none;
                }
                &:not(:nth-child(2)) {
                    opacity: 0;
                }
            }
        }
    }
}
