.panel-container-base {

    &.nolabel .panel {
        top:0;
    }

    .panel {
        overflow: auto;
        position: absolute;
        top:35rem;
        left:0;
        right:0;
        bottom:0;

        &.has-tabs {
            display: flex;
            flex-direction: column;
            background: var(--color-bg);
        }

        &.noscroll {
            overflow: hidden;
            > .widget {
                max-width: 100%;
                max-height: 100%;
            }
        }

    }
    .navigation {
        border-top: 0;
        background: transparent;
        &:after {
            background: var(--color-bg);
        }
        a.on {
            border-color: var(--color-bg);
        }
    }

    .content {
        background: transparent;
    }
}

.panel-container {
    @extend .panel-container-base;

    width: 200rem;
    height: 200rem;

    border:0;

    background: var(--color-fg);

    &:before {
        content:"";
        position: absolute;
        top:0;
        bottom:0;
        right: 0;
        left: 0;
        border-bottom: 1rem solid  var(--color-bg);
        border-right: 1rem solid  var(--color-bg);
        pointer-events: none;
        z-index: 2;

    }
}

.modal-container {
    @extend .panel-container-base;
    @extend .toggle-container;
    > .light:after {
            content:"\f077";
            font-family: FontAwesome;
            border:0;
            padding: 2rem 4rem;
            opacity: .5;
            transform: rotateZ(45deg);
            display: block;
            width:10rem;
            height:10rem;
            line-height: 10rem;
            text-align: center;
            float:right;
    }
    &.on {
        position: fixed;
        top:0!important;
        left:0!important;
        right:0!important;
        bottom:0!important;
        width: auto!important;
        height: auto!important;
        border:0;
        z-index: 99999;
        > .light, > .label {
            min-height:auto!important;
            height:var(--nav-height)!important;
        }
        > .light:after {
                content:"\f068";
                transform: none;
                opacity: .5;
        }
        > .light:before {
            transition:all .2s;
        }
    }

    .panel {
        display: none!important;
        background: var(--color-fg);
        transform: translateZ(0);
        &.on {
            transform: translateZ(0);
            display: block!important;
            &.has-tabs  {
                display: flex!important;
            }
            position: absolute;
            top:var(--nav-height);
            left:0;
            right:0;
            bottom:0;
            border-right:0;
            height: auto!important;
            border-top:1rem solid var(--color-bg);
        }
    }
}
