.panel-container-base {

    > .label {
        border-bottom:1rem solid var(--color-bg);
        z-index: 1;
    }

    .panel {
        overflow: auto;
        position: absolute;
        top:29rem;
        left:-1rem;
        right:0;
        bottom:0;

        &.has-tabs {
            top:30rem;
            display: flex;
            flex-direction: column;
            background: var(--color-bg);
            > .content {
                left:1rem;
                width: calc(100% - 1rem);
            }
        }

        &.noscroll {
            overflow: hidden;
            > .widget {
                max-width: 100%;
                max-height: 100%;
            }
        }

    }
    &.nolabel {
        > .panel {
            top:-1rem;
        }
        > .panel.has-tabs {
            top:0;
        }

    }
    .navigation {
        // margin-top: 1rem;
        background: transparent;
        height:calc(var(--nav-height) - 2rem);
        &:after {
            background: var(--color-bg);
        }
        a.on {
            border-color: var(--color-bg);
        }
    }

    .content {
        background: transparent;
    }
}


.panel-container {
    @extend .panel-container-base;

    width: 200rem;
    height: 200rem;

    background: var(--color-fg);

}

.modal-container {
    @extend .panel-container-base;
    @extend .toggle-container;

    > .light:after {
            content:"\f077";
            font-family: FontAwesome;
            border:0;
            padding: 2rem 4rem;
            opacity: .5;
            transform: rotateZ(45deg);
            display: block;
            width:10rem;
            height:10rem;
            line-height: 10rem;
            text-align: center;
            float:right;
            position: static;
            box-shadow: none;
    }
    > .label {
        top:0;
    }
    > .popup {
        padding:0;
        > .popup-wrapper {
            max-width: 100%;
            max-height: 100%;
            width: var(--width, 100%);
            height: var(--height, 100%);
            .popup-content {
                padding:0;
                background: transparent;
                > .panel {
                    background-color: var(--color-fg);
                    position: absolute;
                    width: auto;
                    height: auto;
                    top:45rem;
                    left:-1rem;
                    right:-1rem;
                    bottom:-1rem;
                }
            }
            .popup-title {
                z-index: 1;
            }
        }
    }
    &.editing .popup-wrapper:after {
        content:"";
        z-index: 999;
        position: absolute;
        top:0;
        left:0;
        right:0;
        bottom:0;
        border:1rem dashed var(--color-accent);
        pointer-events: none;
    }
    &.on {
        z-index: 99999;
    }

}
