.led-container, .rgbled-container {
    width:100rem;
    height:100rem;
    padding:1rem;
    .led {
        --opacity: 0;
        --color-led: var(--color-custom);
        display: flex;
        flex-direction: row;
        flex: 1 1 100%;
        background: var(--color-track);
        border:1rem solid var(--color-bg);
        &:before {
            content:"";
            width:100%;
            height: 100%;
            background: var(--color-led);
            border-radius: inherit;
            opacity: var(--opacity);
            box-shadow: inset 0 0 10rem var(--color-track);
        }
        @extend .glass-effect;

    }
}

.rgbled-container .led {
    --opacity: 1;
}

.plot-container, .visualizer-container, .eq-container {
    height: 200rem;
    width: 200rem;
    padding:1rem;
    .plot {
        display: flex;
        flex-direction: row;
        flex: 1 1 100%;
        background: var(--color-track);
        border:1rem solid var(--color-bg);
        @extend .glass-effect;
    }
    canvas {
        flex:1;
        image-rendering:pixelated;
        width: 100%;
    }
}


.meter-container {
    @extend .fader-container;
    --color-knob: transparent;
    .wrapper {
        pointer-events: none;
        @extend .glass-effect;
    }
}

.text-container {
    width: 100rem;
    height:60rem;
    flex-shrink: 0;
    padding:1rem;
    .text {
        flex: 1 1 100%;
        height:35rem;
        padding: 0 10rem;
        justify-content: center;
        display: flex;
        align-items: center;
        white-space: pre;
        word-break: break-all;
        background: var(--color-track);
        color:var(--color-custom);
        border: 1rem solid var(--color-bg);
        line-height: 100%;
        overflow: hidden;
        text-align: center;
        &.right {
            text-align: right;
            justify-content: flex-end;
        }
        &.left {
            text-align: left;
            justify-content: flex-start;
        }
        &.wrap {
            white-space: pre-wrap;
        }
        &.vertical {
            transform: rotate(180deg);
            text-overflow: ellipsis;
            -webkit-writing-mode:vertical-rl;
            writing-mode:vertical-rl;
            padding: 10rem 0;
            &:after {
                transform: rotate(-180deg);
            }
        }
        @extend .glass-effect;
    }
}

.image-container {
    width:100rem;
    height:100rem;
    padding:1rem;
    .image {
        display: flex;
        flex-direction: row;
        flex: 1 1 100%;
        background-size:cover;
        border:1rem solid var(--color-bg);
        background-repeat: no-repeat;
    }
    &.noborder {
        --color-border:transparent;
        --color-light:transparent;
        --color-light:transparent;
        background: transparent;
        padding: 0!important;
        .image {
            outline:transparent!important;
            border:0!important;
            box-shadow:none!important;
            margin: 0!important;
        }
    }
}

.svg-container {
    width:100rem;
    height:100rem;
    padding:1rem;
    .svg {
        display: flex;
        flex-direction: row;
        flex: 1 1 100%;
        background: var(--color-track);
        border:1rem solid var(--color-bg);
        @extend .glass-effect;
        svg {
            flex: 1 1 100%;
        }
    }
    &.noborder {
        --color-border:transparent;
        --color-light:transparent;
        --color-light:transparent;
        background: transparent;
        padding: 0!important;
        .svg {
            outline:transparent!important;
            border:0!important;
            box-shadow:none!important;
            margin: 0!important;
        }
    }
}

.panel:not(.tab) > .led-container,
.panel:not(.tab) > .rgbled-container,
.panel:not(.tab) > .text-container,
.panel:not(.tab) > .visualizer-container,
.panel:not(.tab) > .eq-container,
.panel:not(.tab) > .plot-container,
.panel:not(.tab) > .image-container,
.panel:not(.tab) > .svg-container {
    --color-border:transparent;
    padding: 0rem;
    .plot, .text, .led, .image, .svg {
        margin: 1rem;
        box-shadow: 0 0 0 1rem var(--color-fg);
        outline:1rem solid var(--color-light);
        border: 1rem solid var(--color-bg);
    }
}

.panel:not(.tab) > .image-container {
    .image {
        background-clip: content-box;
    }
}
