.led-container {
    width:100rem;
    flex-shrink: 0;

    .led {
        display: flex;
        align-items: center;
        height: 100%;
        padding:10rem 0;
        overflow: hidden;

        div {
            border-radius: 100%;
            width:calc(100% - 20rem);
            padding-bottom:calc(100% - 20rem);
            margin: 0 auto;
            background:var(--color-track);
            position: relative;
            span {
                position: absolute;
                top:0;left:0;right:0;bottom:0;
                border-radius: 100%;
                display:block;
                background-color:var(--color-custom);
                &:after {
                    content:"";
                    border-radius:100%;
                    position: absolute;
                    top:-1rem;left:-1rem;right:-1rem;bottom:-1rem;
                    display:block;
                    border: 6rem solid var(--color-fg);
                    opacity: 0.8;
                }
            }
        }
    }
}

.plot-container, .visualizer-container, .eq-container {
    --color-custom:var(--color-accent);

    height: 200rem;
    width: 200rem;
    .plot {
        display: flex;
        flex-direction: row;
        flex:1;
        position: relative;
    }
    canvas {
        position: absolute;
        top:0;left:0;
        width:100%;
        height: 100%;
    }
}


.meter-container {
    --color-custom:var(--color-accent);
    --color-gauge: var(--color-custom);
    --color-knob: transparent;
    background: var(--color-faded)

}

.text-container {
    --color-custom:var(--color-accent);

    .text {
        flex: 1;
        height:35rem;
        padding: 10rem;
        justify-content: center;
        display: flex;
        align-items: center;
        background: var(--color-faded);
        color:var(--color-custom);
        &.vertical {
            transform: rotate(180deg);
            text-overflow: ellipsis;
            overflow: hidden;
            -webkit-writing-mode:vertical-lr;
        }
    }
}
