.led-container, .rgbled-container {
    width:100rem;
    height:100rem;

    .led {
        display: flex;
        align-items: center;
        height: 100%;
        overflow: hidden;
        padding:2rem;
        border-radius: inherit;
        div {
            width:100%;
            height:100%;
            position: relative;
            border-radius: inherit;
            background:var(--color-track);
            border:1rem solid var(--color-bg);
            span {
                width:100%;
                height:100%;
                position: relative;
                display:block;
                background-color:var(--color-custom);
                border-radius: inherit;
            }
        }
    }
}

.plot-container, .visualizer-container, .eq-container {
    --color-custom:var(--color-accent);
    height: 200rem;
    width: 200rem;
    padding:1rem;
    .plot {
        display: flex;
        flex-direction: row;
        flex:1;
        position: relative;
        background: var(--color-track);
        border:1rem solid var(--color-bg);
    }
    canvas {
        width:100%;
        height: 100%;
        image-rendering:pixelated;
    }
}


.meter-container {
    @extend .fader-container;
    --color-custom:var(--color-accent);
    --color-gauge: var(--color-custom);
    --color-knob: transparent;
    .wrapper {
        pointer-events: none;
    }
}

.text-container {
    --color-custom:var(--color-accent);
    flex-shrink: 0;
    .text {
        flex: 1;
        height:35rem;
        padding: 10rem;
        justify-content: center;
        display: flex;
        align-items: center;
        background: var(--color-track);
        color:var(--color-custom);
        margin:1rem;
        border: 1rem solid var(--color-bg);
        &.vertical {
            transform: rotate(180deg);
            text-overflow: ellipsis;
            overflow: hidden;
            -webkit-writing-mode:vertical-lr;
            writing-mode:vertical-lr;
        }
    }
}


.panel:not(.tab) > .text-container,
.panel:not(.tab) > .visualizer-container,
.panel:not(.tab) > .eq-container,
.panel:not(.tab) > .plot-container {
    --color-border:transparent;
    .plot, .text {
        padding: 1rem;
        background-clip: content-box;
        border:1rem solid var(--color-light);
        box-shadow: 0 0 0 1rem var(--color-bg) inset;
    }
}
