.push-container {
    @extend .toggle-container;
    .label {
        top:0;
    }
    .toggle {
        &.active {
            background-color: var(--color-fg);
            box-shadow: 0 0 10rem 0 var(--color-track) inset;
            &:after {
                content: "";
                position: absolute;
                top:0;
                left: 0;
                right: 0;
                bottom: 0;
                opacity: 0.35;
                background: radial-gradient( ellipse at center, transparent, var(--color-bg));
            }
        }
        &.on .light:before {
            opacity: 0.3;
        }
        .light:after{
            display: none;
        }
    }
}
