.push-container {
    @extend .toggle-container;
    .toggle {
        &.active {
            // background-color: var(--color-fg);
            &:after {
                content: "";
                position: absolute;
                top:0;
                left: 0;
                right: 0;
                bottom: 0;
                opacity: 0.4;
                background: radial-gradient( ellipse at center, var(--color-raised), var(--color-bg));
                z-index: 2;
            }
        }
        &.on:not(.active) {
            &:after {
                opacity: 0;
            }
        }
    }

}
