

.strip-container {
    width:100rem;
    height:100%;
    overflow: visible;

    > .strip {
        height: 100%;
        width:100%;
        display: flex;
        flex-direction: column;
        > .widget {
            width:auto;
            .label {
              background-image: none;
            }
        }
    }

    &.vertical {
        > .strip {
            align-items: center;
        }
        > .strip > .widget {
            width: 100%;
            min-width: 100%;

            margin-left:0;
            border-left:0;
            margin-left:0rem;

        }
        &::before {
            border-right: 1rem solid  var(--color-bg);
        }
        &.nolabel > .strip > .widget {
            &:first-child{
                border-top:0;
            }
        }
    }
    &.horizontal {
        width:100%;
        height:200rem;
        display: flex;
        flex-direction: row;

        &::before {
            border-bottom: 1rem solid  var(--color-bg);
        }

        > .strip {
            flex-direction: row;
            flex:1;
            > .widget {
                flex-shrink: initial;
                width: 100%;
                min-height: 100%;
                margin-top:0;
                border-top:0;
                margin-left:0rem;
                height:100%;
                &:last-child {
                    border-right:0;
                }
            }
        }
        > .label {
            width:30rem;
            line-height: 20rem;
            flex-shrink: 0;
            height:100%;
            border-bottom:0;
            // border-right:1rem solid var(--color-bg);
            max-height: initial;
            span {
                transform: rotate(180deg);
                display: block;
                position: relative;
                overflow: hidden;
                text-overflow: ellipsis;
                -webkit-writing-mode:vertical-lr;
                writing-mode:vertical-lr;
                text-align: center;
            }
        }

        &.nolabel > .strip > .widget {
            &:first-child{
                border-left:0;
            }
        }

    }

}
