.switch-container {
    width:100rem;
    .label {
        border-bottom: 1rem solid var(--color-bg);
    }
    &.nolabel {
        .switch .value:first-child {
            box-shadow: none!important;
        }
        .switch.horizontal .value {
            box-shadow: none;
        }
    }
    .switch {
        height:100%;
        width:100%;
        cursor: pointer;
        display: flex;
        flex-direction:column;
        align-items: stretch;
        flex:1;
        z-index: 1;

        &.horizontal {
            flex-direction:row;
            .value {
                text-align: center;
                display: flex;
                justify-content: center;
                flex-direction: column;
                border-top:0;
                border-right:1rem solid var(--color-bg);
                flex:1;
                height:auto;
                &:last-child {
                    border-right:0;
                }

            }
        }
        .value {
            background:var(--color-light);
            padding:6rem;
            color:var(--color-text);
            width:100%;
            height:100%;
            position: relative;
            border-top: 1rem solid var(--color-bg);
            white-space: normal;
            text-align: center;
            word-break: break-all;
            overflow: hidden;
            display: flex;
            flex-direction: column;
            justify-content: center;
            box-shadow: 0 1rem 0 0 var(--color-light) inset;

            &:first-child {
                border-top:0;
            }

            &:last-child {
                margin-bottom:0;
            }

            &:before {
                content:"";
                position: absolute;
                left:0;
                top:0;
                right:0;
                bottom:0;
                background: var(--color-custom);
                opacity: 0;
                z-index: 2;
            }
            &.on:before {
                opacity: .3;
            }
            i {
                width: auto;
            }

        }
    }
}


.switcher-container, .crossfader-container {
    .label {
        border-bottom: 1rem solid var(--color-bg);
    }
    .switcher {
        width: 100%;
        flex:1;
    }
}

.crossfader-container {
    .switcher {
        display:flex;
        &.horizontal {
            flex-direction: column;
            .switch {
                border-bottom: 1rem solid var(--color-bg);
                border-right: 0;
            }
            .fader-container {
                width: 100%;
                height: auto
            }
        }
    }
   .switch {
       height: auto;
       flex:1;
       border-right: 1rem solid var(--color-bg);
   }
   .fader-container {
       min-height: 60%;
       flex:1;
       .input {
           display: none;
       }
   }
}
