.switch-container, .switcher-container, .crossfader-container  {
    z-index: 1;
    width:100rem;
    height:100rem;
    padding:1rem;

    &.nolabel {
        --color-border:var(--color-bg);
        padding: 0;
        .switch, .switcher {
            border: 0;
        }
    }
    .switch {
        cursor: pointer;
        display: flex;
        flex-direction:column;
        align-items: stretch;
        flex: 1;
        z-index: 1;
        background:var(--color-bg);
        border: 1rem solid var(--color-bg);

        &.horizontal {
            flex-direction:row;
            .value {
                text-align: center;
                display: flex;
                justify-content: center;
                flex-direction: column;
                border-top:0;
                border-right:1rem solid var(--color-bg);
                flex: 1 1 100%;
                height:auto;
                margin-bottom:0;
                &:last-child {
                    border-right:0;
                }

            }
        }
        .value {
            background:var(--color-raised);
            padding:6rem;
            color:var(--color-text);
            width:100%;
            flex: 1 1 100%;
            position: relative;
            // border-top: 1rem solid var(--color-bg);
            margin-bottom:1rem;
            white-space: normal;
            text-align: center;
            word-break: break-all;
            overflow: hidden;
            display: flex;
            flex-direction: column;
            justify-content: center;
            box-shadow: 0 0 0 1rem var(--color-light) inset,
                        0 1rem 0 0 var(--color-light) inset;

            &:before {
                content:"";
                position: absolute;
                top:0;
                left: 0;
                right: 0;
                bottom: 0;
                opacity: 0;
                box-shadow: 0 0 0 1rem var(--color-custom) inset;
                border-radius: inherit;
            }

            &.on {
                // background: var(--color-fg);
                color: var(--color-custom);
                &:after {
                    content: "";
                    position: absolute;
                    top:0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    opacity: 0.4;
                    background: radial-gradient( ellipse at center, transparent, var(--color-bg));
                }
                &:before {
                    opacity: 0.3;
                }
            }
            &:first-child {
                // border-top:0;
            }

            &:last-child {
                margin-bottom:0;
            }

            i {
                width: auto;
            }

        }
    }
}

.switcher-container {
    .switcher {
        flex:1;
        display:flex;
    }
}

.crossfader-container {
    .switcher {
        flex: 1 1 100%;
        width:auto;
        display:flex;
        border: 1rem solid var(--color-bg);
        padding: 2rem;
        .switch {
            flex:2;
            border: 1rem solid var(--color-bg) !important;
        }
        .fader {
            flex: 3;
            --color-pips: var(--color-custom);
            --color-gauge: var(--color-custom);
            --color-knob: var(--color-custom);
        }
        &.vertical {
            flex-direction: row;
            .fader, .fader canvas {
                height:auto;
            }
        }
        &.horizontal {
            flex-direction: column;
        }
    }
}
.panel:not(.tab) > .crossfader-container {
    --color-border:var(--color-fg);
    .switcher {
        border:0!important;
    }
}

.dropdown-container {

    z-index: 1;
    width:100rem;
    height: 60rem;
    padding:1rem;
    &.nolabel {
        --color-border:var(--color-bg);
        padding: 0;
        .select {
            border: 0;
        }
    }
    .select {
        flex: 1 1 100%;
        position: relative;
        overflow: hidden;
        cursor: pointer;
        border: 1rem solid var(--color-bg);
        display: flex;
        border-radius: inherit;

        select {
            box-shadow: 0 0 0 1rem var(--color-light) inset,
                        0 1rem 0 0 var(--color-light) inset;
            flex:1;
            display: flex;
            vertical-align: middle;
            background:transparent;
            padding: 0 30rem 0 10rem;
            max-width: 100%;
            -webkit-appearance:none;
            -moz-appearance:none;
            appearance:none;
            background: var(--color-raised);
            color:inherit;
            font-size: 109%!important;
            line-height: 120%!important;
            text-transform: none;
            border-radius: inherit;

            &:focus {
                box-shadow: 0 0 0 1rem var(--color-light) inset,
                            0 1rem 0 0 var(--color-light) inset,
                            0 0 1rem 0 var(--color-custom) inset;

            }
        }
        &:after{
            content:"\f107";
            font-family: FontAwesome;
            position: absolute;
            padding:0 10rem;
            right:0;
            top:50%;
            margin-top:-10rem;
            font-size: 180%;
            height: 20rem;
            line-height: 20rem;
            pointer-events: none;
        }

    }

}
