.toggle-container {
    width:100rem;
    height: 60rem;
    flex-shrink: 0;
    padding:0!important;
    background: var(--color-light-fg);

    > .label {
        position: absolute;
        top:4rem;
        left:2rem;
        right:2rem;
        bottom:2rem;
        height:auto;
        width: auto;
        max-height: initial;
        border:0!important;
        background: none!important;
        text-align: center;
        pointer-events:none;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 1;
    }

    cursor: pointer;

    > .light {
        flex:1;

        &:after {
            content:"";
            opacity: 1;
            position: absolute;
            display: block;
            top:3rem;
            left:3rem;
            right:3rem;
            border-top: 2rem solid var(--color-bg);
            box-shadow: 0 1rem 0 0 var(--color-light), 0 1rem 0 0 var(--color-light);
            z-index: 1;
            opacity: .5;

        }

        &:before {
            content:"";
            width: 100%;
            height: 100%;
            position: absolute;
            background: var(--color-custom);
            opacity: 0;
        }
        &.on {
            &:before {
                opacity: .3;
            }
            &:after {
                border-top-color: var(--color-custom);
                box-shadow: none;
                opacity: .7;
            }

        }
    }
}
