.toggle-container {
    width:100rem;
    height: 60rem;
    padding:0!important;
    --color-border:var(--color-bg);
    z-index: 1;

    .toggle {

        background: var(--color-raised);
        cursor: pointer;
        flex:1;
        display: flex;
        border-radius: inherit;


        .light {

            flex:1;
            display: flex;
            box-shadow: 0 0 0 1rem var(--color-light) inset;
            pointer-events: none;
            border-radius: inherit;

            &:before {
                content:"";
                flex:1;
                opacity: 0;
                box-shadow: 0 0 0 1rem var(--color-custom) inset;
                border-radius: inherit;
            }

            &:after {
                // content:"";
                opacity: 1;
                position: absolute;
                display: block;
                top:3rem;
                left:3rem;
                right:3rem;
                height: 4rem;
                background: var(--color-track);
                box-shadow: 0 0 0 1rem var(--color-light), 0 0 0 1rem var(--color-bg) inset;
                z-index: 1;
                border-radius: inherit;
            }

        }

        &.on {
            &:after {
                content: "";
                position: absolute;
                top:0;
                left: 0;
                right: 0;
                bottom: 0;
                opacity: 0.35;
                background: radial-gradient( ellipse at center, transparent, var(--color-bg));
            }

            .light:before {
                opacity: 0.3;
            }
            .light:after {
                background: var(--color-custom);
            }

        }

    }

    > .label {
        position: absolute;
        top:2rem;
        left:2rem;
        right:2rem;
        bottom:2rem;
        height:auto;
        width: auto;
        max-height: initial;
        border:0!important;
        background: none!important;
        text-align: center;
        pointer-events:none;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 2;
        font-family: roboto;
        // font-weight: bold;
        color:var(--color-text);
        // letter-spacing: 1rem;
    }

    &.on > .label {
        color: var(--color-custom);
        opacity: 1;
    }

}
