.toggle-container {
    width:100rem;
    height: 60rem;
    padding:0!important;
    --color-border:var(--color-bg);
    z-index: 1;

    .toggle {

        background: var(--color-raised);
        cursor: pointer;
        flex:1;
        display: flex;


        .light {

            flex:1;
            display: flex;
            box-shadow: 0 0 0 1rem var(--color-light) inset;
            pointer-events: none;

            &:after {
                content:"";
                opacity: 1;
                position: absolute;
                display: block;
                top:3rem;
                left:3rem;
                right:3rem;
                height: 4rem;
                background: var(--color-track);
                box-shadow: 0 0 0 1rem var(--color-light), 0 0 0 1rem var(--color-track) inset;
                z-index: 1;
            }

            &:before {
                content:"";
                flex:1;
                background: var(--color-custom);
                opacity: 0;
            }
        }

        &.on {
            // background: var(--color-fg);

            .light:after {
                background: var(--color-custom);
            }


        }

    }

    > .label {
        position: absolute;
        top:4rem;
        left:2rem;
        right:2rem;
        bottom:2rem;
        height:auto;
        width: auto;
        max-height: initial;
        border:0!important;
        background: none!important;
        text-align: center;
        pointer-events:none;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 2;
    }

}
