.toggle-container {
    width:100rem;
    height: 60rem;
    padding:0!important;
    --color-border:var(--color-bg);
    --default-bg: var(--color-raised)!important;
    z-index: 1;

    .toggle {

        cursor: pointer;
        flex: 1 1 100%;
        display: flex;
        border-radius: inherit!important;
        touch-action: none;

        &:before {
            content:"";
            flex: 1 1 100%;
            opacity: 1;
            box-shadow: 0 0 0 1rem var(--color-light) inset,
                        0 1rem 0 0 var(--color-light) inset;
            border-radius: inherit;
        }

        &.on {
            &:after {
                content: "";
                position: absolute;
                top:0;
                left: 0;
                right: 0;
                bottom: 0;
                opacity: 0.4;
                background: radial-gradient( ellipse at center, transparent, var(--color-bg));
            }

            &:before {
                opacity: 0.3;
                box-shadow: 0 0 0 1rem var(--color-custom) inset;
            }

        }

    }

    > .label {
        position: absolute;
        top:2rem;
        left:2rem;
        right:2rem;
        bottom:2rem;
        height:auto;
        width: auto;
        max-height: initial;
        border:0!important;
        background: none!important;
        text-align: center;
        pointer-events:none;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 2;
    }

    &.on {
        color: var(--color-custom);
    }

    &.led {
        .toggle:after {
            content:"";
            opacity: 1;
            position: absolute;
            display: block;
            top:3rem;
            left:3rem;
            right:3rem;
            height: 4rem;
            background: var(--color-track);
            box-shadow: 0 0 0 1rem var(--color-light), 0 0 0 1rem var(--color-bg) inset;
            z-index: 1;
            border-radius: inherit;
            opacity: 0.9;
        }
        .toggle.on:after {
            opacity: 0.7;
            background: var(--color-custom);
        }
        .toggle:before {
            opacity: 1;
            box-shadow: 0 0 0 1rem var(--color-light) inset,
                        0 1rem 0 0 var(--color-light) inset;
        }
        > .label {
            top:7rem;
        }
    }

}
