RewriteEngine On
RewriteBase /

RewriteRule ^extras/(.*)$ docs/$1 [QSA,L,R=301]
RewriteRule ^user-guide/(.*)$ docs/$1 [QSA,L,R=301]
RewriteRule ^docs/$ docs/getting-started [QSA,L]

RewriteCond %{HTTPS} !on
RewriteRule (.*) https://%{HTTP_HOST}%{REQUEST_URI} [R=301]

RewriteCond %{HTTP_HOST} ^osc.ammd.net
RewriteRule ^(.*)$ https://openstagecontrol.ammd.net/%{REQUEST_URI} [L,R=301]

ErrorDocument 404 /404.html
