.fader-container {
    --color-pips: var(--color-custom);
    --color-gauge: var(--color-custom);
    --color-knob: var(--color-custom);
    padding: 1rem;
    width:100rem;
    height:300rem;
    &.horizontal {
        height:130rem;
        width:300rem
    }
}

.panel:not(.tab) > .fader-container {
  padding: 0rem;
    --color-border:transparent;
    > .fader.compact {
      padding: 1rem;
    }
    > .fader.compact > .wrapper {
        box-shadow: 0 0 0 1rem var(--color-light),
                    0 0 0 1rem var(--color-fg);
        border: 1rem solid var(--color-bg);
    }
}

.fader {
    height:100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    position: relative;
    flex: 1;
    > .input {
        height: 25rem;
        flex:initial!important;
        flex-shrink: 0!important;
        display: block;
        background: transparent!important;
        border: 0!important;
    }

    .wrapper {
        overflow: hidden;
        flex: 1 1 100%;
        max-height: 100%;
        width: 100%;
        position: relative;
        display: flex;
        justify-content: center;
        border-radius: inherit;
        touch-action: none;

        > * {
            pointer-events: none;
        }

        > canvas {
            width: 20rem;
            image-rendering:pixelated;
            position: relative;
            z-index: 1;
        }

        .meter-container {
            height: auto;
            width:6rem!important;
            min-width: auto;
            flex-grow: 0;
            --color-border:transparent;
            border:0;
            margin: 20rem 6rem 20rem 0;
            order: -1
        }

        .pips {
            width: 35rem;
            // background-color: var(--color-light);
            position: relative;
            margin: 23rem 0rem 21rem -10rem;
            z-index: 0;

            .pip {
                height:1rem;
                // background: var(--color-track);
                color:var(--color-fg);
                position: absolute;
                left:0;

                &:before {
                    content:"";
                    position: absolute;
                    top:0;
                    left:-12rem;
                    width:5rem;
                    bottom:0;
                    background: var(--color-custom);
                    opacity: 0.5;
                    box-shadow: 0 0 0 1rem var(--color-bg),
                                0 0 0 2rem var(--color-light);
                }
                &:after {
                    content:"";
                    position: absolute;
                    top:0;
                    left:7rem;
                    width:5rem;
                    bottom:0;
                    background: var(--color-custom);
                    opacity: 0.5;
                    box-shadow: 0 0 0 1rem var(--color-bg),
                                0 0 0 2rem var(--color-light);
                }

                span {
                    position: absolute;
                    width:30rem;
                    display: block;
                    text-align: center;
                    font-size:90%;
                    line-height: 12rem;
                    left:15rem;
                    top:-5.5rem;
                    color:var(--color-text-fade);
                    text-transform: none;
                }
            }
        }

    }

    &.align-right {
        .wrapper {
            flex-direction: row-reverse;
            .meter-container {
                margin: 20rem 0rem 20rem 6rem;
            }
            .pips {
                margin: 23rem -10rem 21rem 0rem;
                // margin: 23rem 5rem 21rem 12rem;
                // background-position: top right;
                .pip {
                    right:0;
                    left:auto;
                    // margin-bottom: 0;
                    span {
                        right:15rem;
                        left:auto;
                    }
                }
            }
        }
    }

    &.horizontal {
        .wrapper {
            flex-direction: column;
            > canvas {
                width: auto;
                height: 20rem;
            }

            .meter-container {
                width: auto!important;
                height:6rem;
                min-height: auto;
                margin: 0 20rem 6rem 20rem;
            }

            .pips {
                width:auto;
                height: 25rem;
                margin: -10rem 22rem 0 22rem;
                .pip {
                    width:1rem;
                    height:5rem;
                    &:before {
                        left:0;
                        top:-12rem;
                        height:5rem;
                        right:0;
                        width:1rem;
                    }
                    &:after {
                        left:0;
                        top:7rem;
                        height:5rem;
                        right:0;
                        width:1rem;
                    }
                    span {
                        top:20rem;
                        left:-14rem!important;
                        right:auto;
                    }

                }
            }
        }
    }

    &.compact {
        .wrapper {
            border: 1rem solid var(--color-bg);
            > canvas {
                flex: 1 1 100%;
                background: var(--color-track);
                order:1;
            }
            .meter-container {
                order:3;
                margin: 0;
                border: 0;
                box-shadow: none;
                padding: 0;
                .fader {
                    border: 0;
                    border-left: 1rem solid var(--color-bg);
                    .wrapper {
                        border: 0;
                    }
                }
                .pips {
                    display: none;
                }
            }
            > .pips {
                overflow: hidden;
                margin: 0;
                order:2;
                background: var(--color-track);
                border:0;
                border-left: 1rem solid var(--color-bg);
                width: 3rem;
                .pip {
                    left:0;
                    right: 0;
                    span {
                        display: none;
                    }
                    &:before {
                        content:none;
                    }
                    &:after {
                        left:0;
                        right: 0;
                        box-shadow: none;
                        opacity: 1;
                    }
                    &:not(:last-child):not(:first-child) {
                      margin-bottom: -1rem;
                    }
                }
            }
        }

        &.align-right {
            .wrapper {
                .meter-container {
                    .fader {
                        border: 0;
                        border-right: 1rem solid var(--color-bg);
                    }
                }
                .pips {
                    border:0;
                    border-right: 1rem solid var(--color-bg);
                }
            }
        }


        --input-margin:0rem;
        &.has-meter {
            --input-margin:-3rem;
        }
        &.has-pips {
            --input-margin:-1rem;
        }
        &.has-meter.has-pips {
            --input-margin:-4rem;
        }

        .input {
            pointer-events: none;
            position: absolute;
            border:0;
            background:transparent;
            overflow: hidden;
            position: absolute;
            top:50%;
            left:50%;
            z-index: 1;
        }

        &.horizontal {
            position:relative;

            .wrapper {
                .meter-container {
                    .fader {
                        border: 0;
                        border-top: 1rem solid var(--color-bg);
                    }
                }
            }

            .input {
                width: 100rem;
                height: 24rem;
                margin-left: -50rem;
                margin-top: calc(-1 * 12rem + var(--input-margin));
            }

            .pips {
                height: 3rem;
                border:0;
                border-top: 1rem solid var(--color-bg);
                width: 100%;
                .pip {
                  margin: 0;
                  &:last-child {
                    left:auto!important;
                    right:0;
                  }
                  &:after {
                      top:0;
                      width: 1rem;
                  }
                }
            }
        }

        &:not(.horizontal) {
            .input {
                height: 100rem;
                width: 100rem;
                margin-top: -50rem;
                margin-left: calc(-1 * 50rem + var(--input-margin));
                z-index: 3;
                input {
                    transform: rotate(-90deg);
                    width: 100rem;
                }
            }

            &.align-right {
                .input {
                    margin-left: calc(-1 * 50rem - var(--input-margin));
                }
            }

            .pips {
                .pip:last-child {
                    top:0;
                }
            }
        }



    }


}


.range-container {
    width:100rem;
    height:300rem;
    &.horizontal {
        height:130rem;
        width:300rem
    }
    padding: 1rem;
    --color-pips: var(--color-custom);
    --color-gauge: var(--color-custom);
    --color-knob: var(--color-custom);
    .range {
        height:100%;
        overflow: hidden;
        display: flex;
        position: relative;
        flex-direction: column;
        flex: 1;
        > .input {
            height: 25rem;
            flex:initial!important;
            flex-shrink: 0!important;
            // display: block;
            background: transparent!important;
            border: 0!important;
        }
        > .wrapper {
            overflow: hidden;
            flex: 1 1 100%;
            max-height: 100%;
            width: 100%;
            position: relative;
            display: flex;
            justify-content: center;
            border-radius: inherit;
            .fader {
                position: absolute;
                top:0;
                left:0;
                right:0;
                bottom:0;
                pointer-events: none;
                .wrapper {
                    // border: 0;
                }
                &:first-child {
                    opacity: 0;
                }
            }
        }
        &.compact {
            > canvas {
                background: var(--color-track);
            }
        }



        &.compact {

            --input-margin:0rem;
            &.has-meter {
                --input-margin:-3rem;
            }
            &.has-pips {
                --input-margin:-1rem;
            }
            &.has-meter.has-pips {
                --input-margin:-4rem;
            }

            .input {
                pointer-events: none;
                position: absolute;
                border:0;
                background:transparent;
                overflow: hidden;
                position: absolute;
                top:50%;
                left:50%;
                z-index: 1;
            }

            &.horizontal {

                .input {
                    width: 100rem;
                    height: 24rem;
                    margin-left: -50rem;
                    margin-top: calc(-1 * 12rem + var(--input-margin));
                }

            }

            &:not(.horizontal) {
                .input {
                    height: 100rem;
                    width: 100rem;
                    margin-top: -50rem;
                    margin-left: calc(-1 * 50rem + var(--input-margin));
                    z-index: 3;
                    input {
                        transform: rotate(-90deg);
                        width: 100rem;
                    }
                }

                &.align-right {
                    .input {
                        margin-left: calc(-1 * 50rem - var(--input-margin));
                    }
                }
            }

        }

    }
}

.panel:not(.tab) > .range-container {
  padding: 0rem;
    --color-border:transparent;
    .fader.compact {
      padding: 1rem;
    }
    .fader.compact > .wrapper {
        box-shadow: 0 0 0 1rem var(--color-light),
                    0 0 0 1rem var(--color-fg);
        border: 1rem solid var(--color-bg);
    }
}
