.input-container {
    width: 100rem;
    height: 60rem;
    padding:1rem;
    .vertical  {
        position: relative;
        input {
            transform: rotate(-90deg);
            vertical-align: middle;
            max-width: initial!important;
            position: absolute;
            top: 50%;
            left: 50%;
            transform:  translateX(-50%) translateY(-50%) rotate(-90deg);
            margin-top: -1px
        }
    }
    .not-editable {
        @extend .glass-effect;
    }
}
.widget {
     .input {
        display: flex;
        flex: 1 1 100%;
        background:transparent;
        color:var(--color-text-fade);
        overflow: hidden;
        text-align:center;
        padding:1rem;
        border: 1rem solid var(--color-bg);
        background: var(--color-track);
        &.right {
            text-align: right;
        }
        &.left {
            text-align: left;
        }
        input {
            display: block;
            flex:1;
            max-width: 100%;
            font: inherit;
            border:0;
            padding:0;
            background: transparent;
            color:var(--color-accent);
            border-radius: inherit;
            -webkit-appearance:none;
            appearance: none;
            text-align:inherit;
            line-height: 50rem;
            vertical-align: top;
            letter-spacing: 1rem;
            -webkit-user-select: text;
            user-select: text;
            &:focus {
                color:var(--color-custom);
            }
        }
        canvas {
            flex:1;
            max-width: 100%;
        }
        input + canvas {
            display: none;
            width: 0;
        }


    }

}

.panel:not(.tab) > .input-container {
    padding: 0rem;
    > .input {
        box-shadow: 0 0 0 1rem var(--color-light),
                    0 0 0 1rem var(--color-fg);
        margin:1rem;
        border: 1rem solid var(--color-bg);
    }
}


.keys-container {
    width: 100rem;
    height:60rem;
    flex-shrink: 0;
    padding:1rem;
    --opacity: .75;
    .keys {
        flex: 1 1 100%;
        height:35rem;
        padding: 10rem;
        justify-content: center;
        display: flex;
        align-items: center;
        background: var(--color-track);
        color:var(--color-custom);
        border: 1rem solid var(--color-bg);
        @extend .glass-effect;
        i {
            opacity: var(--opacity);
        }
        span {
            font-family: monospace;
            letter-spacing: 0;
            margin-left: 4rem;
        }
    }
}

.panel:not(.tab) > .keys-container {
    --color-border:transparent;
    padding: 0rem;
    .keys {
        margin: 1rem;
        box-shadow: 0 0 0 1rem var(--color-light),
                    0 0 0 1rem var(--color-fg);
        border: 1rem solid var(--color-bg);
    }
}

.script-container {
    width: 100rem;
    height:60rem;
    flex-shrink: 0;
    padding:1rem;
    --opacity: .75;
    .script {
        flex: 1 1 100%;
        height:35rem;
        padding: 10rem;
        justify-content: center;
        display: flex;
        align-items: center;
        background: var(--color-track);
        color:var(--color-custom);
        border: 1rem solid var(--color-bg);
        @extend .glass-effect;
        i {
            opacity: var(--opacity);
        }
        span {
            font-family: monospace;
            letter-spacing: 0;
            margin-left: 4rem;
        }
    }
}

.panel:not(.tab) > .script-container {
    --color-border:transparent;
    padding: 0rem;
    .script {
        margin: 1rem;
        box-shadow: 0 0 0 1rem var(--color-light),
                    0 0 0 1rem var(--color-fg);
        border: 1rem solid var(--color-bg);
    }
}


.gyroscope-container {
    width: 100rem;
    height:60rem;
    flex-shrink: 0;
    padding:1rem;
    --opacity: .75;
    .gyroscope {
        flex: 1 1 100%;
        height:35rem;
        padding: 10rem;
        justify-content: center;
        display: flex;
        align-items: center;
        background: var(--color-track);
        color:var(--color-custom);
        border: 1rem solid var(--color-bg);
        @extend .glass-effect;
        i {
            opacity: var(--opacity);
        }
        span {
            font-family: monospace;
            letter-spacing: 0;
            margin-left: 4rem;
        }
    }
}

.panel:not(.tab) > .gyroscope-container {
    --color-border:transparent;
    padding: 0rem;
    .gyroscope {
        margin: 1rem;
        box-shadow: 0 0 0 1rem var(--color-light),
                    0 0 0 1rem var(--color-fg);
        border: 1rem solid var(--color-bg);
    }
}
