.xy-container, .rgb-container, .multixy-container {
    width:200rem;
    height:230rem;
    padding:2rem;

    --background: var(--color-track);
    --pips-opacity: 0.2;
    --point-opacity: 0.3;

    .label {
        flex-shrink: 0;
        z-index: 1;
    }

    > .pad > .wrapper:after {
        content:"";
        position: absolute;
        pointer-events: none;
        top:var(--pointSize);
        left:var(--pointSize);
        height:calc(100% - 2 * var(--pointSize));
        width:calc(100% - 2 * var(--pointSize));
        background: var(--background);
        box-shadow: 0 0 0 1rem var(--color-light),
                    0 0 0 1rem var(--color-bg) inset;

    }

    .pad {
        height:100%;
        width: 100%;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        > .input {
            margin-top: 2rem;
            height: 25rem;
            flex:initial!important;
            flex-shrink: 0!important;
            background: transparent!important;
            border: 0!important;
        }
        > .wrapper {
            position: relative;
            flex:1;
            touch-action: none;

            > canvas {
                width:100%;
                height:100%;
                position: absolute;
                pointer-events: none;
                z-index: 1;
            }
            > .fader {
                pointer-events: none;
                position: absolute;
                width:100%;
                height:100%;
                z-index: 0;
                --color-knob:transparent;
                --color-gauge:transparent;
                box-shadow: none;
                border: 0;
                * {
                    background: transparent!important;

                }
                .wrapper {
                    border:none;
                }
                .input {
                    display: none;
                }
            }
        }
    }


}

.rgb-container {
    > .pad {

        > .wrapper {

            display: flex;
            flex-direction: column;

            image-rendering:pixelated;
            > .pad {
                --color-custom:var(--color-white);
                position: absolute;
                .wrapper {
                    border:0;
                    background: transparent;
                }
                canvas {
                    border:0;
                    left:0;
                    background: transparent;
                }
                .input {
                    display: none;
                }
            }
            > canvas {
                top:var(--pointSize);
                left:var(--pointSize);
                flex:0;
                height:calc(100% - 2 * var(--pointSize));
                width:calc(100% - 2 * var(--pointSize));
                background-color: red;
                background-clip: content-box;
                background-image: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,1) 100%), linear-gradient(to right, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%);
                border: 1rem solid var(--color-bg);
            }

            background: transparent;
            border: none;
            box-shadow: none;

        }
        .alpha-wrapper, .hue-wrapper {
            flex-shrink: 0;
            padding: calc(var(--pointSize) / 2) var(--pointSize);
            .fader {
                box-shadow: 0 0 0 1rem var(--color-light);
                height: calc(2 * var(--pointSize));
            }
        }
        .hue-wrapper {
            padding-top: 0;
            --color-gauge:transparent;
            --color-knob: var(--color-white);
            .wrapper {
                &:after {
                    content:"";
                    display: block;
                    position: absolute;
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    background: linear-gradient(to left, #F00, #FF0080, #F0F, #8000FF, #00F, #0080FF, #0FF, #00FF80, #0F0, #80FF00, #FF0, #FF8000, #F00) repeat scroll 0% 0%;
                    box-shadow: 0 0 0 4rem var(--color-track);
                    // z-index: 1;
                    opacity: 0.7;
                }
                canvas {
                    background: transparent;
                    -webkit-background-blend-mode: color-burn;

                }
            }
        }

    }
}


.multixy-container {
    > .pad {
        text-align: center;
        font-size: 109%;

        > .wrapper {

            > canvas {
                top:0;
                left:0;
            }

            > .pad {
                pointer-events: none;
                position: absolute;
                .wrapper {
                    border:0;
                    background: transparent;
                }
                canvas {
                    border:0;
                    left:0;
                }
                .input {
                    display: none;
                }
            }
        }
    }
}
