.panel-container-base {
    --color-border:var(--color-bg);
    z-index: 1;

    box-shadow: 1rem 0 0 0 var(--color-border),
                0 1rem 0 0 var(--color-border),
                1rem 1rem 0 0 var(--color-border);

    > .label {
        border-bottom:1rem solid var(--color-border);
        z-index: 20;
        box-shadow: 0 0 0 1rem var(--color-light) inset;
        background: var(--color-fg);
    }

    .panel {
        overflow: auto;
        position: absolute;
        top:29rem;
        left:-1rem;
        right:0;
        bottom:0;
        background: var(--color-fg);
        --color-border: var(--color-fg);

        box-shadow: 0 0 0 1rem var(--color-light) inset,
                    0 0 0 1rem var(--color-fg) inset,
                    1rem 1rem 0 1rem var(--color-light) inset;

        &.tab, &.root, &.has-tabs {
            background: var(--color-bg);
            --color-border: var(--color-bg);
            box-shadow: none;

        }
        &:not(.tab) {
            > .widget {
                box-shadow: 1rem 0 0 0 var(--color-border),
                            0 1rem 0 0 var(--color-border),
                            1rem 1rem 0 0 var(--color-border);
                --default-bg: transparent;
            }
        }
        &.has-tabs {
            top:30rem;
            display: flex;
            flex-direction: column;
            background: var(--color-bg);

            > .tabs-wrapper {
                background: var(--color-fg);
                display: flex;
                flex-direction: column;
                left:-1rem;
                > .widget {
                    background: none;
                    border-top:none;
                    // border-right:1rem solid transparent;
                }
            }
        }

        &.noscroll {
            overflow: hidden;
            > .widget {
                max-width: 100%;
                max-height: 100%;
            }
        }

        > .tabs-wrapper {
            flex: 1 1 100%;
            min-height:0;
            > .tab-container {
                // width: 100%;
                > .label {
                    display: none;
                }

            }
        }

    }
    &.nolabel {
        > .panel {
            top:-1rem;
        }
        > .panel.has-tabs {
            top:0;
        }

    }

    &.noborder {

        --color-border: var(--color-fg);
        > .panel {
            box-shadow: none;
        }

    }

}


.panel-container {
    @extend .panel-container-base;

    width: 200rem;
    height: 200rem;

    background: var(--color-fg);

}

.strip-container {
    @extend .panel-container-base;

    width: 100rem;
    height: 300rem;

    background: var(--color-fg)!important;

    &.horizontal {
        width: 300rem;
        height: 100rem;
    }

    > .panel {
        --spacing: 0;
        > .widget {
            top:auto!important;
            left:auto!important;
            position: relative!important;
        }
    }

    &.vertical {
        > .panel {

            display: flex;
            flex-direction: column;
            align-items: stretch;
            padding: calc(var(--spacing) / 2);
            > .widget {
                width: auto!important;
                max-width: 100%;
                margin: calc(var(--spacing) / 2);
            }
        }
    }
    &.horizontal {
        > .panel {
            display: flex;
            flex-direction: row;
            align-items: stretch;
            padding: calc(var(--spacing) / 2);
            > .widget {
                height: auto!important;
                max-height: 100%;
                margin: calc(var(--spacing) / 2);
            }
        }

    }
    &.stretch > .panel > .widget {
        flex:1 1 100%;
    }

}
.editor-enabled .strip-container {
    &.horizontal > .panel > .widget > .ui-resizable-s,
    &.vertical   > .panel > .widget > .ui-resizable-e,
                 > .panel > .widget > .ui-resizable-se {
        display: none!important;
    }
}

.modal-container {
    @extend .toggle-container;

    > .label:after {
            content:"\f0da"!important;
            font-family: FontAwesome;
            transform: rotateZ(-45deg);
            font-size: 20rem;
            display: block;
            width:8rem;
            height:6rem;
            right:2rem;
            top:1rem;
            line-height: 10rem;
            text-align: center;
            float:right;
            position: absolute;
            box-shadow: none;
            background: none!important;
            color: inherit;
            opacity: 0.7;
    }

    > .panel {
        display: none;
    }
    > .popup {
        padding:0;

        > .popup-wrapper {
            max-width: 100%;
            max-height: 100%;
            width: var(--width, 100%);
            height: var(--height, 100%);
            .popup-content {
                padding:0;
                background: transparent;
                > .panel {
                    background-color: var(--color-fg);
                    position: absolute;
                    width: auto;
                    height: auto;
                    top:-1rem;
                    left:-1rem;
                    right:0rem;
                    bottom:0rem;
                }
            }
            .popup-title {
                z-index: 1;
            }
        }

        &.x-positionned {
            justify-content: flex-start;
            > .popup-wrapper {
                margin-left: var(--left);
            }
        }
        &.y-positionned {
            align-items:flex-start;
            > .popup-wrapper {
                margin-top: var(--top);
            }
        }

    }
    &.editing .popup-wrapper:after {
        content:"";
        z-index: 999;
        position: absolute;
        top:0;
        left:0;
        right:0;
        bottom:0;
        border:1rem solid var(--color-accent);

        --opa1: rgba(0,0,0, 1);
        --opa2: rgba(0,0,0, 0.2);
        --opa3: rgba(0,0,0, 0.8);
        -webkit-mask: linear-gradient(to right, var(--opa1) 10rem, var(--opa1) 10rem, var(--opa2) 10rem, var(--opa2) calc(100% - 10rem), var(--opa1) calc(100% - 10rem), var(--opa1)),
                        linear-gradient(to bottom, var(--opa2) 10rem, var(--opa2) 10rem, var(--opa3) 10rem, var(--opa3) calc(100% - 10rem), var(--opa2) calc(100% - 10rem), var(--opa2)) ;
        -webkit-mask-composite: xor;

        pointer-events: none;
        box-shadow: none!important;
        opacity: 1!important;
    }
    &.on {
        z-index: initial;
        > .toggle:after {
            color:var(--color-custom);
        }
        border-radius: 0!important; // border radius breaks it somehow
    }

}

.root-container {
    @extend .panel-container-base;
    height: 100%;
    border:none;
    > .label {
        display: none;
    }

}


.tab-container, .root-container {
    height: 100%;
    flex:1;
    box-shadow: none;
    background: var(--color-bg)!important;

    > .panel {
        transform: rotateZ(0);
        top:0rem;
        left:-1rem;
        right:0rem;
        &.has-tabs {
            top:1rem;
        }
    }
}

.tab-container {
    display: none;
    &.show {
        display: flex;
    }
}

.clone-container {

    &.empty {
        width: 100rem;
        height: 100rem;
    }

    > .label {
        display: none;
    }

    .clone {
        position: relative;
        height: 100%;
        width: 100%;
        > .widget {
            border:0!important;
            box-shadow: none!important;
            background: transparent!important;
            position: relative!important;
            left:auto!important;
            bottom:auto!important;
            right:auto!important;
            top: auto!important;
            width: 100%!important;
            height: 100%!important;
            min-height: initial!important;
            max-height: initial!important;
            min-width: initial!important;
            max-width: initial!important;
            padding: 0!important;
        }
    }
}
