.patchbay-container {
    width: 200rem;
    height: 200rem;

    .patchbay {
        display: flex;
        flex-direction: row;
        padding:1rem 2rem 1rem 1rem;
        // @extend .glass-effect;
        height: 100%;
        canvas {
            flex: 1;
            width: 0;
            background: var(--color-track);
            border-top:1rem solid var(--color-bg);
            border-bottom:1rem solid var(--color-bg)
        }
        .nodes {
            display: flex;
            flex-direction: column;
            align-items:stretch;
            margin-bottom: 1rem;
            width: 25%;

            > div {
                width: 100%!important;
                height: 100%;
                flex:1;
                flex-shrink: 0;
                @extend .toggle-container;
                div {
                    pointer-events: none;
                }
            }
        }
    }

}
