#editor {
    box-shadow: 0 0 0 1rem var(--color-light) inset;
    background: var(--color-fg);
    padding: 1rem 8rem 8rem;
    margin-top: 2rem;
    flex-shrink:0;
    &:empty {
        padding:0;
        margin: 0;
    }
    ul {
        padding: 4rem;
        list-style:none;
        li {
            margin-bottom: 4rem;
            position: relative;
            &:last-child {
                margin: 0;
            }
        }
    }
    .btn + span {
        position: absolute;
        right:0rem;
        top:0rem;
        padding:8rem;
        opacity: 0.6;
        cursor: pointer;
        &:hover {
            opacity: 1;
        }
    }

    .form {
        margin-top: 10rem;
    }
}
.form {
    line-height: 18rem;
    .input-wrapper {
        display: flex;
        // margin-bottom:4rem;
        margin-top: -1rem;
        // box-shadow: 0 0 0 1 var(--color-bg);
        background:var(--color-bg);
        align-items: stretch;
        z-index: 1;
        border-bottom: 1rem solid var(--color-bg);
        position: relative;
        justify-content: center;
        text-transform: none;
        font-weight: 500;

        &:last-child {
            margin-bottom:0;
        }
        label {
            background: var(--color-fg);
            flex-shrink: 0;
            padding: 6rem 7rem 4rem;
            // border:1rem solid var(--color-bg);
            // border-bottom: 1rem solid var(--color-bg);
            min-width: 29%;
            box-shadow: 1rem  0 0 0 var(--color-bg) inset;
            margin-top: 1rem;
            &.dynamic:after {
                content:"\f0e7";
                font-family: FontAwesome;
                vertical-align:super;
                font-size: 75%;
                opacity: 0.75!important;
                position: absolute;
                margin-top: -4rem;
            }
        }
        .input {
            background: var(--color-bg);
            flex: 1 1 100%;
            padding:5rem;
            border-top:1rem solid var(--color-fg);
            border-radius: 0;
            -webkit-appearance:none;
            cursor: initial;
        }
        .column {
            padding: 2rem;
            ul {
                padding: 0!important;
                overflow: auto;
                li:not(:last-child) {
                    margin-bottom: 2rem!important;
                }
                .sortable-placeholder {
                    background: transparent;
                    &:after {
                        content:"|";
                        color: transparent;
                    }
                }
                li i {
                    pointer-events: none
                }
            }
        }
        .checkbox {
            line-height: 18rem;
            height: 18rem;
            width: 18rem;
            position: absolute;
            right:5rem;
            top:50%;
            margin-top: -9rem;
            cursor: pointer;
            background: var(--color-fg);
            text-align: center;
            box-shadow: 0 0 0 1rem var(--color-light) inset;
            display: flex;
            align-items: center;
            justify-content: center;
            i {
                color: transparent;
            }
            &.on i {
                color:var(--color-accent);
            }
        }
    }
    label {
        display: block;
        font-size: 10rem;
        // background: var(--color-track);
    }
    .info {
        color:var(--color-text-fade);
        margin-bottom:10rem;
    }
    .input {
        display:block;
        border:0;
        font:inherit;
        color:var(--color-text);
        width:auto;
        .btn {
            background: var(--color-raised);
            box-shadow: 0 0 0 1rem var(--color-light) inset,
                        0 0 0 1rem var(--color-bg);
            &:not(:last-child){
                cursor: -webkit-grab;
                cursor: grab;
            }
        }
    }
    textarea {
        display:block;
        border:0;
        font:inherit;
        background: none;
        color:var(--color-text);
        width:100%;
        padding:5rem;
        overflow-y: hidden;
        overflow-x: auto;
        white-space: nowrap;
        border-top:1rem solid var(--color-fg);
        resize: none;
        font-size: 12rem!important;
    }
    .error label{
        color: red;
    }
    .select-wrapper {
        position: relative;
        margin: 2rem;
        flex: 1 1 100%;
        &:after{
            content:"\f107";
            font-family: FontAwesome;
            position: absolute;
            padding:5rem;
            right:0;
            top:1rem;
            font-size: 20rem;
            pointer-events: none;
        }

        .input {
            border:0;
            width: 100%;
            cursor: pointer;
            background: var(--color-fg);
            box-shadow: 0 0 0 1rem var(--color-light) inset;
        }
    }
    select {
        -webkit-appearance:none;
        -moz-appearance:none;
        appearance:none;
        font-size: 12rem!important;
    }
    .submit {
        margin-top:30rem;
    }
    .separator {
        line-height: 30rem;
        height: 30rem;
        margin-top: 10rem;
        position: relative;
        display: flex;
        align-items: center;
        border: 1rem solid var(--color-bg);
        box-shadow: 0 0 0 1rem var(--color-light) inset;
        span {
            text-transform: lowercase;
            font-variant: small-caps;
            position: relative;
            display: block;
            width:100%;
            text-align:center;
        }
    }
    .separator + .input-wrapper .input {
        border-top-color:transparent;
    }
}



.widget.editing {
    z-index: 9999!important;
    // overflow: visible;
}
.widget.editing:after, li.editing a:before, a.editing:before, .content.editing:before, #container.editing:before{
    content:"";
    z-index: 999;
    position: absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    border:1rem solid var(--color-accent);

    --opa1: rgba(0,0,0, 1);
    --opa2: rgba(0,0,0, 0.2);
    --opa3: rgba(0,0,0, 0.8);
    -webkit-mask: linear-gradient(to right, var(--opa1) 10rem, var(--opa1) 10rem, var(--opa2) 10rem, var(--opa2) calc(100% - 10rem), var(--opa1) calc(100% - 10rem), var(--opa1)),
                    linear-gradient(to bottom, var(--opa2) 10rem, var(--opa2) 10rem, var(--opa3) 10rem, var(--opa3) calc(100% - 10rem), var(--opa2) calc(100% - 10rem), var(--opa2)) ;
    -webkit-mask-composite: xor;

    pointer-events: none;
    box-shadow: none!important;
    opacity: 1!important;
}

.context-menu {
    position:fixed;
    z-index: 999999999;
    background: var(--color-raised);
    box-shadow: 0 0 4rem 1rem var(--color-bg);
    text-transform: none;
    .item {
        color:var(--color-text)
    }
    .context-menu {
        position: absolute;
        left:100%;
        top:0;
        opacity:0;
        pointer-events: none;
        margin-left: 2rem;
        &:before {
            content:"";
            position: absolute;
            top:0;
            bottom:0;
            left:-2rem;
            width:2rem;
        }
    }
    > .item {
        padding: 10rem 15rem 10rem 10rem;
        position:relative;
        cursor: pointer;
        i {
            margin-right:5rem;
            width: 15rem;
            text-align: center;
        }
        &.focus, &:focus {
            > .context-menu {
                pointer-events: auto;
                opacity: 1;
            }
            &:after {
                content:"";
                position: absolute;
                left:0;
                top:0;
                width: 100%;
                height:100%;
                background:var(--color-accent);
                opacity: 0.5;
                z-index: -1;
            }
        }
        &.has-sub:before {
            content:"\f105";
            display: block;
            font-family: FontAwesome;
            float:right;
            margin-right:-10rem;
            padding-left: 10rem;
        }
    }
}

.ui-resizable-handle {
    position: absolute;
    z-index: 10000;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--color-accent);
    width:8rem;
    height:8rem;
    padding: 1rem;
    background-clip: content-box;

    &:after {
        content:"";
        position: absolute;
    }
    &.ui-resizable-se {
        content:"";
        bottom: 1rem;
        right: 1rem;
        cursor: se-resize;
        &:after {
            top:-5rem;
            right:-1rem;
            left:-5rem;
            bottom:-1rem;
        }
    }
    &.ui-resizable-e {
        top: 50%;
        margin-top:-4rem;
        right: 1rem;
        cursor: e-resize;
        &:after {
            top:-5rem;
            right:-1rem;
            left:-5rem;
            bottom:-5rem;
        }
    }
    &.ui-resizable-s {
        bottom: 1rem;
        left: 50%;
        margin-left:-4rem;
        cursor: s-resize;
        &:after {
            top:-5rem;
            right:-5rem;
            left:-5rem;
            bottom:-1rem;
        }
    }
}

.ui-helper {
    z-index: 10000!important;
    opacity: 1!important;
    &:before {
        content:"";
        position: absolute;
        top:1rem;
        left:1rem;
        right:0;
        bottom:0;
        border:1rem solid var(--color-accent);
        --opa1: rgba(0,0,0, 1);
        --opa2: rgba(0,0,0, 0.2);
        --opa3: rgba(0,0,0, 0.8);
        -webkit-mask: linear-gradient(to right, var(--opa1) 10rem, var(--opa1) 10rem, var(--opa2) 10rem, var(--opa2) calc(100% - 10rem), var(--opa1) calc(100% - 10rem), var(--opa1)),
                        linear-gradient(to bottom, var(--opa2) 10rem, var(--opa2) 10rem, var(--opa3) 10rem, var(--opa3) calc(100% - 10rem), var(--opa2) calc(100% - 10rem), var(--opa2)) ;
        -webkit-mask-composite: xor;

    }
    &:after {
        content:"";
        position: absolute;
        top:1rem;
        left:1rem;
        right:0;
        bottom:0;
        background: var(--color-accent);
        opacity: .25;
    }
}

.ui-draggable-handle:not(.label) {
    position: absolute;
    top: 1rem;
    left: 1rem;
    z-index: 100000;
    height:8rem;
    width: 8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--color-accent);
    padding: 1rem;
    background-clip: content-box;
    &:after {
        content:"";
        position: absolute;
        top:-1rem;
        right:-5rem;
        left:-1rem;
        bottom:-5rem;
    }
}

.ui-draggable-handle {
    cursor: -webkit-grab;
    &:active {
        cursor:-webkit-grabbing;
    }
}

// GRID

.editor-enabled {
    &:not(.no-grid) {
        .tab:not(.has-tabs), .panel {
            background-image: linear-gradient(to bottom, var(--color-grid)  1rem,  transparent 1rem),
            linear-gradient(to right, var(--color-grid)  1rem,  transparent 1rem);
            --size: calc(var(--grid-width) * 1rem);
            background-size: var(--size) var(--size);
            background-attachment: local;
            background-position: 0 0;
        }
    }

}
