body {
    background:var(--color-bg);
}

#container {
    position: absolute;
    top:0;
    left:0;
    bottom:0;
    right:0;
    display:flex;
    flex-direction: column;
    background:var(--color-bg);
    padding:2rem;
    opacity: 0;
    transition: opacity .1s;
    &.show {
        opacity: 1;
    }
    &.sidepanel-open {
        right:var(--sidepanel-size);
    }
}


.navigation {
    height:var(--nav-height);
    margin-bottom: 1rem;
    margin-left: 1rem;
    flex-shrink:0;
    // font-weight:bold;
    text-transform: uppercase;
    background: transparent;
    height:calc(var(--nav-height) - 2rem);

    &:after {
        background: var(--color-bg);
    }
    a.on {
        border-color: var(--color-bg);
    }

    &.main {
        li:last-child {
            width:var(--nav-height);
            max-width:var(--nav-height);
            min-width:var(--nav-height);
            i {
                margin:0 auto;
            }
        }
    }
    ul {
        list-style:none;
        display: flex;
        overflow: hidden;
        height:100%;

        li {
            display:block;
            min-width:0;
            flex: 1 1 100%;
            cursor:pointer;
            height:100%;
            margin-right: 1rem;


            &:last-child {
                margin-right:0;
                margin-left: auto;
                i {
                    font-size: 14rem;
                }
            }
            a {
                background: var(--color-raised);
                pointer-events: none;
                padding: 5rem;
                height:100%;
                display: flex;
                align-items: center;
                overflow:hidden;
                text-align:center;
                position:relative;
                box-shadow: 0 0 0 1rem var(--color-light) inset;
                letter-spacing: 1rem;
                font-size: 109%;
                white-space: pre;
                span {
                    display:block;
                    width:100%;
                    -webkit-mask: linear-gradient(to left, rgba(0, 0, 0, 0), #000000 10rem) no-repeat;
                }

            }
            #open-toggle {
                pointer-events: auto;
                i {
                    pointer-events: none;
                    font-size:13rem;
                }
            }
            &.on a, .sidepanel-open {
	            position: relative;
                z-index: 0;
                // background:var(--color-fg);
                color: var(--color-custom);
                &:after {
                    content: "";
                    position: absolute;
                    top:0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    opacity: 0.4;
                    background: radial-gradient( ellipse at center, transparent, var(--color-bg));
                }
                &:before {
                    content:"";
                    position: absolute;
                    top:0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    opacity: 0.3;
                    box-shadow: 0 0 0 1rem var(--color-custom) inset;
                    border-radius: inherit;
                }
            }
        }
        .parent + li a {
            padding-left: calc(5rem + 0.5 * var(--nav-height));
        }
    }
}
