
* {
    margin:0;
    padding:0;
    border:0;
    box-sizing:border-box;
    text-decoration:none;
    outline:0;
    font:inherit;
    color:inherit;
    cursor: inherit;
    -webkit-tap-highlight-color:transparent;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}
