
::-webkit-scrollbar {
    width: var(--scrollbar-size);
    height:var(--scrollbar-size);
    opacity:1;

}

::-webkit-scrollbar-track-piece {
    background: var(--color-bg);
    &:vertical {
        border-left:2rem solid var(--color-bg);
    }
    &:horizontal {
        border-top:2rem solid var(--color-bg);
    }
}
::-webkit-scrollbar-corner  {
    background: var(--color-fg);
    border-left:2rem solid var(--color-bg);
    border-top:2rem solid var(--color-bg);
}
::-webkit-scrollbar-thumb {
    background: var(--color-raised);

    &:vertical {
        border-left:2rem solid var(--color-bg);
    }
    &:horizontal {
        border-top:2rem solid var(--color-bg);
    }
}


@mixin arrow($r) {
    background-image:url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" version="1.1" height="50px" width="50px"><g stroke="rgba(255,255,255,0.5)" transform="rotate('+$r+' 25 25)"><line x1="16" y1="20" x2="25" y2="29" stroke-width="2" /><line x1="25" y1="29" x2="34" y2="20" stroke-width="2" /></g></svg>');
    background-blend-mode: difference, normal;
}

::-webkit-scrollbar-button:decrement:start, ::-webkit-scrollbar-button:increment:end {

    background:var(--color-fg);
    height:var(--scrollbar-size);
    width: var(--scrollbar-size);

    display: block;
    color:red;

    background-size:contain;
    background-position: center;

    &:vertical {
        &:decrement:start {
            border-left:2rem solid var(--color-bg);
            border-bottom:1rem solid var(--color-bg);
            @include arrow(180)
        }

        &:increment:end {
            border-left:2rem solid var(--color-bg);
            border-top:1rem solid var(--color-bg);
            @include arrow(0)
        }
    }
    &:horizontal {
        &:decrement:start {
            border-right:1rem solid var(--color-bg);
            border-top:2rem solid var(--color-bg);
            @include arrow(90)
        }

        &:increment:end {
            border-left:1rem solid var(--color-bg);
            border-top:2rem solid var(--color-bg);
            @include arrow(-90)
        }
    }

}

// ::-webkit-resizer {
//     border-left:2rem solid var(--color-bg);
//     border-top:2rem solid var(--color-bg);
//     background:var(--color-fg);
//     background-size:contain;
//     background-position: 2rem 2rem;
//     @include arrow(-45)
// }
