:root {

    ////////////////////// COLOR SCHEME

    --color-text:rgba(255, 255, 255, .8);
    --color-text-fade:rgba(255, 255, 255, .5);

    --color-accent:rgba(82, 168, 255, 1);
    --color-grid:  rgba(82, 168, 255, .1);

    --color-bg: rgb(25, 31, 42);
    --color-track: rgb(32, 41, 58);
    --color-fg: rgb(40, 49, 67);
    --color-raised: rgb(49, 63, 85);

    --color-light:rgba(255, 255, 255, .06);

    ////////////////////// AUTO

    --color-custom:var(--color-accent);

    ////////////////////// MISC

    --nav-height:40rem;
    --sidepanel-size:300rem;
    --scrollbar-size:20rem;

    --grid-width:10;
}
