
.widget {
    display:inline-block;
    height:auto;
    overflow: hidden;
    position:relative;
    vertical-align:top;
    box-shadow: -0.5rem -0.5rem 0 0.5rem var(--color-bg),  0 1rem 0 0 var(--color-light) inset;
    color:var(--color-bg);
    border-right:1rem solid var(--color-bg);
    border-bottom:1rem solid var(--color-bg);
    -webkit-tap-highlight-color:transparent;
    min-height:30rem;
    min-width:30rem;
    display: inline-flex;
    flex-direction: column;
    background: var(--color-fg);

    > * {
        color:var(--color-text)
    }

    &.absolute-position {
        position: absolute;
        // z-index: 10;
    }

     &.nolabel {
         > .label {
             display:none;
         }
     }

    .label {
        text-overflow:ellipsis;
        overflow:hidden;
        text-align:center;
        height:30rem;
        max-height:30rem;
        line-height: 30rem;
        padding:0 6rem;
        width: 100%;
        // background: var(--color-raised);
        flex-shrink: 0;
        display: flex;
        justify-content: space-around;
        &.accent {
            color:var(--color-accent);
        }
    }
    .input {
        width:100%;
        height:24rem;
        border:0;
        background:transparent;
        color:var(--color-text-fade);
        display:block;
        padding:4rem 5rem;
        position: relative;
        display: var(--display-input);

        input {
            position: absolute;
            top:0;
            left:0;
            right:0;
            bottom:0;
            padding:4rem 5rem;
            width: 100%;
            font: inherit;
            text-align:center;
            border:0;
            background: transparent;
            color:var(--color-accent);
        }
        canvas {
            width:100%;
            height:100%;
            opacity: 0.8;
        }
        input + canvas {
            visibility: hidden;
        }

        &:focus {
            color:var(--color-accent);

        }
        &[disabled] {
            color:var(--color-text-fade);
        }
    }
}


@import 'widgets/fader';
@import 'widgets/knob';

@import 'widgets/matrices';
@import 'widgets/pads';

@import 'widgets/plots';


@import 'widgets/toggle';
@import 'widgets/push';
@import 'widgets/switch';

@import 'widgets/strip';
@import 'widgets/panel';
