body {
    background:var(--color-bg);
}

#container {
    position: absolute;
    top:0;
    left:0;
    bottom:0;
    right:0;
    display:flex;
    flex-direction: column;
    background:var(--color-bg);
    padding:var(--gutter);
    // transition:right .2s;
    &.sidepanel-open {
        right:var(--sidepanel-size);
    }
}

.content {
    height:100%;
    overflow: hidden;
    position: relative;
    background:var(--color-fg);
    padding:var(--gutter);
}

.tab {
    position: absolute;
    overflow: auto;
    left:0;
    right:0;
    top:0;
    bottom:0;
    background:var(--color-bg);
    transform: rotateZ(0);
    &.has-tabs {
        // border:$gutter*2 solid $color-fg;
        // padding: $gutter;
        display: flex;
        flex-direction: column;
        > .navigation {
            background:var(--color-bg);
            // padding: $gutter;
            // margin-bottom: 0;
        }
        > .content {
            background:none;
        }
    }
}

.navigation {
    height:var(--nav-height);
    margin-bottom: var(--gutter);
    flex-shrink:0;
    font-weight:bold;
    text-transform: uppercase;

    &.main {
        li:last-child {
            width:var(--nav-height);
            max-width:var(--nav-height);
            min-width:var(--nav-height);
            i {
                margin:0 auto;
            }
        }
    }
    ul {
        list-style:none;
        display: flex;
        overflow: hidden;
        height:100%;

        li {
            display:block;
            min-width:0;
            flex: 1;
            cursor:pointer;
            height:100%;
            margin-right: 1rem;

            &.parent {
                max-width: 150rem;
                width:auto;
                position: relative;
                padding-right: 1rem;
                a {
                    background: var(--color-raised);
                }
                &:before {
                    content:"";
                    display: block;
                    position: absolute;
                    border-left:calc(0.5 * var(--nav-height)) solid var(--color-bg);
                    border-bottom: calc(0.5 * var(--nav-height)) solid transparent;
                    border-top: calc(0.5 * var(--nav-height)) solid transparent;
                    top:0;
                    right:calc(-0.5 * var(--nav-height) - 1rem);
                    z-index: 1;
                }
                &:after {
                    content:"";
                    display: block;
                    position: absolute;
                    border-left:calc(0.5 * var(--nav-height)) solid var(--color-raised);
                    border-bottom: calc(0.5 * var(--nav-height)) solid transparent;
                    border-top: calc(0.5 * var(--nav-height)) solid transparent;
                    top:0;
                    right:calc(1rem - 0.5 * var(--nav-height));
                    z-index: 2;
                }
            }


            &:last-child {
                margin-right:0;
            }
            a {
                background: var(--color-fg);
                pointer-events: none;
                padding: 5rem;
                height:100%;
                display: flex;
                align-items: center;
                overflow:hidden;
                text-align:center;
                position:relative;
                span {
                    display:block;
                    width:100%;
                    -webkit-mask: linear-gradient(to left, rgba(0, 0, 0, 0), #000000 10rem) no-repeat;
                }
            }
			a:after {
				content:"";
				background:var(--color-accent);
				position: absolute;
				bottom:0;
				left:0;
				right:0;
				height:2rem;
				opacity: 0;
				transition: all .2s;
				transform: scale(0);
			}
            &.on a, .sidepanel-open {
				position: relative;
                background: var(--color-raised);
				&:after {
					opacity:1;
					transform: scale(1);
				}
            }
        }
        .parent + li a {
            padding-left: calc(5rem + 0.5 * var(--nav-height));
        }
    }
}
