
::-webkit-scrollbar {
    width: 20rem;
    height:20rem;
    opacity:1;

}

::-webkit-scrollbar-track-piece {
    background: var(--color-bg);
    &:vertical {
        border-left:2rem solid var(--color-bg);
    }
    &:horizontal {
        border-top:2rem solid var(--color-bg);
    }
}
::-webkit-scrollbar-corner  {
    background: transparent;
}
::-webkit-scrollbar-thumb {
    background:var(--color-raised);
    &:vertical {
        border-left:2rem solid var(--color-bg);
    }
    &:horizontal {
        border-top:2rem solid var(--color-bg);
    }
}
