
#sidepanel {
    position:absolute;
    z-index: 999999;
    width:var(--sidepanel-size);
    border: calc(var(--gutter)*2) solid var(--color-fg);
    top:0;
    right:0;
    bottom:0;
    margin-right:calc(-1 * var(--sidepanel-size));
    background:var(--color-fg);
    transition:transform .25s, opacity .25s;
    transform: translate3d(0,0,0);
    opacity: 0;
    overflow-y: auto;
    overflow-x: visible;

    &.sidepanel-open {
        transform: translate3d(calc(-1 * var(--sidepanel-size)),0,0);
        opacity: 1;
    }

    #options {
        position:absolute;
        left:0;top:0;
        right:0;bottom:0;
        list-style:none;

        li {
            display:block;
            margin-bottom:calc(var(--gutter)*2);
            position: relative;

            &:last-child {
                margin: 0;
            }
            .btn + span {
                position: absolute;
                right:0rem;
                top:0rem;
                padding:8rem;
                color:var(--color-text-fade);
                &:hover {
                    color:var(--color-text);
                }
            }

            ul {
                padding: var(--gutter);
                li {
                    margin-bottom: var(--gutter);
                }
            }

        }

        .editor .form {
            margin-top: 10rem;
        }
        .help {
            margin-top:10rem;
            font-size: .75em;
            text-align: center;
            font-style: italic;
        }
    }
    &::-webkit-scrollbar-track-piece {
        background: var(--color-bg);
        &:vertical {
            border-left:calc(var(--gutter)*2) solid var(--color-fg);
        }
    }
    &::-webkit-scrollbar-thumb {
        background:var(--color-raised);
        &:vertical {
            border-left:calc(var(--gutter)*2) solid var(--color-fg);
        }
    }
}
.actions {
    padding:1rem;
    background:var(--color-bg);
    display: flex;
    align-items: stretch;
    flex-wrap:wrap;
    .title {
        background: var(--color-faded);
        min-width: 100%;
        flex-grow: 2;
        padding: 10rem;
        position: relative;
        &:before {
            content:"";
            position: absolute;
            top:0;
            left:0;
            right:0;
            bottom:0;
            box-shadow: 0 0 0 1rem;
            color:var(--color-bg);
        }

    }
    a {
        min-width:33%;
        flex-grow:4;
        padding:10rem;
        display: block;
        text-align: center;
        position: relative;
        color:var(--color-text);
        overflow: visible;

        &.on {
            pointer-events: none;
            &:after {
                opacity:1;
                transform: scale(1);
            }
        }
        &:before {
            content:"";
            position: absolute;
            top:0;
            left:0;
            right:0;
            bottom:0;
            box-shadow: 0 0 0 1rem;
            color:var(--color-bg);
        }
        &:after {
            content:"";
            background:var(--color-accent);
            position: absolute;
            top:0;
            left:0;
            right:0;
            height:2rem;
            opacity: 0;
            transition: all .2s;
            transform: scale(0);
        }
    }
}
