
.widget {
    display:inline-block;
    height:auto;
    overflow: hidden;
    position:relative;
    vertical-align:top;
    box-shadow: -0.5rem -0.5rem 0 0.5rem;
    color:var(--color-bg);
    border-right:1rem solid var(--color-bg);
    border-bottom:1rem solid var(--color-bg);
    background:var(--color-fg);
    -webkit-tap-highlight-color:transparent;
    min-height:30rem;
    min-width:30rem;
    display: inline-flex;
    flex-direction: column;

    > * {
        color:var(--color-text)
    }

    &.absolute-position {
        position: absolute;
        // z-index: 10;
    }

     &.nolabel {
         > .label {
             display:none;
         }
     }

    .label {
        padding:10rem 10rem;
        text-overflow:ellipsis;
        overflow:hidden;
        text-align:center;
        height:35rem;
        max-height:35rem;
        width: 100%;
        background: var(--color-faded);
        border-bottom:1rem solid var(--color-bg);
        &.accent {
            color:var(--color-accent);
        }
    }
    .input {
        width:100%;
        height:30rem;
        border:0;
        background:transparent;
        color:var(--color-text-fade);
        display:block;
        padding:7rem 5rem;
        position: relative;

        input {
            position: absolute;
            top:0;
            left:0;
            right:0;
            bottom:0;
            padding:7rem 5rem;
            width: 100%;
            font: inherit;
            text-align:center;
            border:0;
            background: transparent;
            color:var(--color-accent);
        }
        canvas {
            width:100%;
            height:100%;
            opacity: 0;
            transition: opacity .2s;
            &.visible {
                opacity:.8;
            }
        }
        input + canvas {
            visibility: hidden;
        }

        &:focus {
            color:var(--color-accent);

        }
        &[disabled] {
            color:var(--color-text-fade);
        }
    }
}


@import 'widgets/fader';
@import 'widgets/knob';

@import 'widgets/matrices';
@import 'widgets/pads';

@import 'widgets/plots';


@import 'widgets/toggle';
@import 'widgets/push';
@import 'widgets/switch';

@import 'widgets/strip';
@import 'widgets/panel';
