/////////////

@if $theme == 'dark' {
    $color-text:#eee;
    $color-text-fade:#aaa;

    $color-fg:#282c34; // primary
    $color-bg:#22252c; // secondary
    $color-raised:lighten(#2b2f37,1%); // raised
    $color-raised-top:lighten(#2b2f37,5%); // raised
    $color-border:darken($color-bg,5%);
    $color-track: lighten(#1a1d22,1%); // widgets unfilled value

    $color-accent:#528bff;
}

@if $theme == 'light'  {
    $color-text:#333;
    $color-text-fade:#666;

    $color-fg:#ddd; // primary
    $color-bg:#bbb; // secondary
    $color-raised:#eaeaea; // raised
    $color-raised-top:#ddd; // raised
    $color-border:#999;
    $color-track: #999; // widgets unfilled value

    $color-accent:darken(desaturate(#528bff,25%),10%);
}


$nav-height:60rem;






$sidepanel-size:300rem;


@mixin layer {
    position: absolute;
    top:0;
    left:0;
    right: 0;
    bottom:0;
}


/////////////


* {
    margin:0;
    padding:0;
    box-sizing:border-box;
    text-decoration:none;
    outline:0;
    font:inherit;
    cursor: inherit;
     -webkit-tap-highlight-color:transparent
}
a {
    cursor: pointer;
    display: block;
}

$scrollbar-margin:1rem;
::-webkit-scrollbar {
    width: 20rem;
    height:20rem;
    opacity:1;

}

::-webkit-scrollbar-track-piece {
    background: $color-bg;
    &:vertical {
        border-left:$scrollbar-margin solid $color-border;
    }
    &:horizontal {
        border-top:$scrollbar-margin solid  $color-border;
    }
}
::-webkit-scrollbar-corner  {
    background: transparent;
}
::-webkit-scrollbar-thumb {
    background:$color-raised;
    &:vertical {
        border-left:$scrollbar-margin solid  $color-border;
    }
    &:horizontal {
        border-top:$scrollbar-margin solid  $color-border;
    }
}



* {
    -webkit-user-select: none;
}

input:focus::selection{
    background:$color-accent;
    color:$color-text;
}
input {
    cursor: text;
}








html, body {
    height:100%;
    overflow:hidden;
    position:relative;

}

html{
    font-size: 1px;
}

body {
    font-size:14rem;
    line-height:16rem;
    font-family:sans;
    color:$color-text;
    white-space:nowrap;
    opacity:1;
    cursor: default;
}



.btn {
    background: $color-raised;
    display: block;
    box-shadow: 0 0 0 1rem $color-border;
    padding:15rem;
    position: relative;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    &:hover {
        box-shadow:  0 0 0 1rem $color-border, 0 0 0 100rem rgba($color-text,.05) inset;
    }
    &.small {
        padding:8rem;
        padding-right: 15rem;
    }
    &.disabled {
        pointer-events: none;
        color:$color-text-fade;
    }
    &.align-center {
        text-align: center
    }
}










#lobby {
    background: $color-bg;
    @include layer();
    z-index: 2;
    border:1rem solid $color-border;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow-y: auto;
    padding:20rem;
    .main {
        width:600rem;
        max-height:100%;

    }
    .header {
        background: $color-raised;
        padding:20rem;
        font-weight:bold;
        box-shadow: 0 0 0 1rem $color-border inset;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
    a {
        padding-right:35rem;
        overflow: hidden;
        margin-top:10rem;
        position: relative;
        white-space: nowrap;
        text-overflow: ellipsis;
        span {
            position: absolute;
            right:0rem;
            top:0rem;
            padding:15rem;
            color:$color-text-fade;
        }
    }
}






#container {
    background: $color-bg;
    @include layer();
    overflow:hidden;
    transition:right .2s;
    &.sidepanel-open {
        right:$sidepanel-size;
    }

    #open-toggle {
        position:absolute;
        right:0;
        top:2rem;
        width:60rem;
        background: $color-bg;
        height:$nav-height - 2;
        padding:0 10rem;
        line-height: $nav-height;
        font-size: 24rem;
        text-align: center;
        color:$color-text-fade;
        z-index:2;
        &.sidepanel-open {
            color:$color-text
        }
    }
}

#sidepanel {
    position:absolute;
    z-index: 999999;
    width:$sidepanel-size;
    top:0;
    right:0;
    bottom:0;
    margin-right:-$sidepanel-size;
    background:$color-bg;
    border-left:1rem solid $color-border;
    //box-shadow: 0 0 10rem 0 $color-border;
    transition:right .2s;
    overflow-y: auto;
    overflow-x: visible;

    &.sidepanel-open {
        right:$sidepanel-size;
    }

    #options {
        position:absolute;
        left:0;top:2rem;
        right:0;bottom:0;
        padding:5rem;
        list-style:none;

        li {
            display:block;
            margin-bottom:5rem;
            position: relative;
            background:$color-fg;
            &:last-child {
                margin-bottom: 0
            }
            .title {
                padding-bottom:15rem;
            }
            .actions {
                display: flex;
                align-items: stretch;
                flex-wrap:wrap;
                a {
                    min-width:33.33%;
                    flex-grow:3;
                    padding:10rem;
                    display: block;
                    text-align: center;
                    &.on {
                        pointer-events: none;

                        &:after {
                            content:"";
                            position: absolute;
                            top:0;
                            left:0;
                            right:0;
                            border-top:2rem solid $color-accent;
                        }
                    }
                }
            }
            .btn + span {
                position: absolute;
                right:0rem;
                top:0rem;
                padding:8rem;
                color:$color-text-fade;
                cursor: pointer;
                &:hover {
                    color:$color-text;
                }
            }
            > div {
                box-shadow: 0 0 0 1rem $color-border;
                padding:15rem;
            }
        }

        .editor .form {
            margin-top: 10rem;
        }
        .help {
            margin-top:10rem;
            font-size: .75em;
            text-align: center;
            font-style: italic;
        }
    }
}

.editing {
    z-index: 11!important;
}
.widget.editing:after, a.editing:before {
    content:"";
    z-index: 999;
    position: absolute;
    top:1rem;left:0;
    right:0;
    bottom:0;
    border:1px dashed $color-accent;
    pointer-events: none;
}



a {
    color:inherit;
}


.navigation {
    position:absolute;
    top:0;
    left:0;
    right:0;
    font-size:14rem;
    background: $color-bg;
    height:$nav-height;

    ::first-letter {
        text-transform: uppercase;
    }
    &:before {
        content:"";
        position: absolute;
        top:1px;
        left:0;
        width:100%;
        height: 1px;
        background: $color-fg;
        z-index: 3;
    }
    &:after {
        content:"";
        position: absolute;
        bottom:-1px;
        left:0;
        width:100%;
        height: 1px;
        background: $color-border;
        z-index: 3;
    }

    &.main {
        padding-right:55rem;
        right:0;
    }
    ul {

        list-style:none;
        display: flex;
        padding:7rem  6rem;

        li.on + li {border-image:none;border-left:1rem solid transparent;}
        li {
            display:block;
            max-width:250rem;
            flex: 1;

            border-width:0 0 0 1rem;
            border-image: linear-gradient(transparentize($color-border,1), $color-border,transparentize($color-border,1)) 0 0 0 1 stretch;
            &:first-child, &.on {
                border-image:none;
                border-left:1rem solid transparent;
            }
            &:first-child {
                border-left:0;
            }

            a {
                display:block;
                padding: 5rem 10rem;
                line-height: ($nav-height - 26rem);
                border-radius:3rem;
                overflow:hidden;
                text-align:center;
                border:1rem solid transparent;
                position:relative;
                span {
                    display:block;
                    width:100%;
                    -webkit-mask: linear-gradient(to left, rgba(0, 0, 0, 0), #000000 10rem) no-repeat;
                }
                color:$color-text-fade;
                &.on {
                    background:$color-raised;
                    border:1rem solid $color-border;
                    color:$color-text;

                    &:before {
                        content:"";
                        position: absolute;
                        top:0;
                        left:0;
                        right:0;
                        bottom:0;
                        box-shadow: inset 0 1rem 1rem rgba(255, 255, 255, 0.06);
                        background:linear-gradient(rgba(255, 255, 255, 0.02), rgba(255, 255, 255, 0))
                    }
                    &:after {
                        content:"";
                        position:absolute;
                        top:0;
                        left:0;
                        right:0;
                        height:4rem;
                        // background:linear-gradient(rgba($color-accent,0.5),rgba($color-accent,0))
                    }
                }
            }
        }
    }
}





.content {
    position:absolute;
    left:0;
    top:$nav-height;
    right:0;
    bottom:0;
    background:$color-fg;
    z-index: 1;

    .content {
        top:$nav-height;

    }
}



#loading {
    position: absolute;
    top:50%;
    left:50%;
    margin-top:-15rem;
    text-align: center;
    .spinner {
        display: block;
        margin: 0 auto;
        height:30rem;
        width:30rem;
        border-radius: 50%;
        border:2rem solid $color-border;
        border-top-color:$color-accent;
        animation: spin .5s linear infinite;
    }
    #status {
        margin-top: 10rem;
        display: inline-block;

    }

}

@keyframes spin {
    0% {transform: rotate(0deg);}
    100% {transform: rotate(360deg);}
}






.popup {
    position: fixed;
    top:0;
    left:0;
    right:0;
    bottom:0;
    padding:10%;
    display: flex;
    align-items: center;
    background:rgba($color-text,.5);
    z-index:1000000;
    .popup-title {
        position: relative;
        padding:15rem;
        background:$color-raised;
        .closer {
            position:absolute;
            right:0rem;
            top:0;
            padding:15rem;
            color:$color-text-fade;
            cursor: pointer;
        }
    }
    .popup-wrapper {
        display: flex;
        flex-direction: column;
        align-items: stretch;
        background:$color-fg;
        width:100%;
        max-width:600rem;
        margin:0 auto;
        position: relative;
        overflow: hidden;
        border:1rem solid $color-border;
        .popup-content {
            height:100%;
            width:100%;
            padding:10rem;
            overflow-y:scroll;
            white-space: normal;
        }
    }
}

.form {
    label {
        display: block;
        line-height:15rem;
        font-size: 10rem;
    }
    .info {
        color:$color-text-fade;
        margin-bottom:10rem;
    }
    input, .input {
        display:block;
        background:$color-raised;
        font:inherit;
        color:$color-text;
        border:1rem solid $color-border;
        width:100%;
        padding:10rem;
        margin-bottom:10rem;
        &.invalid {
            box-shadow: 0 0 0 1rem rgba(red,.3)!important;
        }
        &:focus {
            border-color:$color-accent;
        }
        .btn {
            background:$color-raised-top;
            box-shadow: 0 0 0 1rem $color-bg;
        }
    }
    .checkbox {
        background:$color-raised;
        cursor: pointer;
    }
    .select-wrapper {
        position: relative;
        &:after{
            content:"\f107";
            font-family: FontAwesome;
            position: absolute;
            padding:10rem;
            right:0;
            top:0;
            font-size: 20rem;
        }
    }
    select {
        -webkit-appearance:none;
    }
    .submit {
        margin-top:30rem;
    }
    .separator {
        line-height: 30rem;
        height: 30rem;
        margin-bottom: 5rem;
        position: relative;
        display: flex;
        align-items: center;
        &:before, &:after {
            content:"";
            top:14rem;
            width: 100%;
            height: 1rem;
            background: $color-text-fade;
        }
        span {
            font-variant: small-caps;
            position: relative;
            display: block;
            width:100%;
            text-align:center;
        }
    }
}







// TABS

.tab {
    display:none;
    overflow: auto;
    position: relative;
    padding-top:7rem;
    padding-left:6rem;
    &.on {
        display: block;
        height:100%;
        width:auto;
    }
}



// WIDGETS

.widget {
    display:inline-block;
    height:auto;
    overflow: hidden;
    position:relative;
    font-size:13rem;
    padding:35rem  0 0;
    vertical-align:top;
    box-shadow: 0 0 0 1rem $color-bg inset;
    background:$color-raised;
    background-clip:padding-box;
    -webkit-tap-highlight-color:transparent;
    border-right:6rem solid transparent;
    border-bottom:6rem solid transparent;
    min-height:30rem;
    min-width:30rem;


    &:before {
        // content:"";
        position: absolute;
        top:1rem;
        left:0;
        right:0;
        // bottom:0;
        height:4rem;
        box-shadow: inset 0 1rem 1rem rgba(255, 255, 255, 0.06);
        z-index: 3;
        pointer-events: none;
    }

    &.absolute-position {
        position: absolute;
        z-index: 10;
        border:0!important;
    }

     &.nolabel {
         padding-top:0;
         > .label {
             display:none;
         }
     }

    .label {
        padding:10rem 10rem;
        position:absolute;
        top:0;
        left:0;
        right:0;
        text-overflow:ellipsis;
        overflow:hidden;
        height:35rem;
        &.accent {
            color:$color-accent;
        }
    }
    .input {
        width:100%;
        height:30rem;
        border:0;
        background:transparent;
        color:$color-text-fade;
        display:block;
        padding:7rem 10rem;
        position: relative;

        input {
            position: absolute;
            top:0;
            left:0;
            right:0;
            bottom:0;
            padding:7rem 10rem;
            width: 100%;
            font-family: 'sans-serif';
            font-size: 13rem;
            border:0;
            background: transparent;
            font: inherit;
            color:$color-accent;
        }
        canvas {
            width:100%;
            height:100%;
            opacity: 0;
            transition: opacity .2s;
            &.visible {
                opacity:.8;
            }
        }
        input + canvas {
            visibility: hidden;
        }

        &:focus {
            color:$color-accent;

        }
        &[disabled] {
            color:$color-text-fade;
        }
    }
}

.ui-resizable-handle {
    position: absolute;
    z-index: 1000000;
    &.ui-resizable-se {
        bottom: 5rem;
        right: 5rem;
        width:15rem;
        height:15rem;
        border-right: 1rem solid $color-accent;
        border-bottom: 1rem solid $color-accent;
        cursor: se-resize;
    }
    &.ui-resizable-e {
        top: 50%;
        margin-top:-7.5rem;
        right: 5rem;
        width:15rem;
        height:15rem;
        border-right: 1rem solid $color-accent;
        cursor: e-resize;
    }
    &.ui-resizable-s {
        bottom: 5rem;
        left: 50%;
        margin-left:-7.5rem;
        width:15rem;
        height:15rem;
        border-bottom: 1rem solid $color-accent;
        cursor: s-resize;
    }
}

.ui-helper {
    border: 1rem dashed $color-accent;
    background: rgba($color-accent,.25);
    min-width:30rem!important;
    min-height:30rem!important;
    z-index: 12!important;
    opacity: 1!important;
}
.ui-draggable-handle {
    position: absolute;
    position: absolute;
    top: 5rem;
    left: 5rem;
    right:5rem;
    z-index: 100000;
    cursor: -webkit-grab;
    height:25rem;
    border:1rem solid $color-accent;
    &:active {
        cursor:-webkit-grabbing
    }

}

/* STRIP (contains any widgets) */



.strip-container {
    padding-top: 35rem;
    width:100rem;
    height:100%;
    overflow: visible;
    background: none;
    box-shadow:none;
    > .label {
        background:$color-raised;
        box-shadow: 0 0 0 1rem $color-bg inset;
    }
    &.nolabel {
        padding: 0!important;
    }

    .strip {
        height: 100%;
        display: flex;
        flex-direction: column;
        > .widget {
            display: block;
            width:auto;
        }
    }
    &.vertical {
        padding-top: 35rem;
        border-bottom:0;
        .strip > .widget {
            border:0;
            max-width: 100%;
            margin-top:-1rem;
            &:last-child {
                border-bottom:6rem solid transparent;
            }
        }
    }
    &.horizontal {
        padding-top:0;
        padding-left: 35rem;
        width:100%;
        height:auto;
        display: block;
        border-right:0;
        .strip {
            flex-direction: row;
            > .widget {
                flex-shrink: initial;
                width: 100%;
                min-height: 100%;
                max-height: 100%;
                border:0;
                margin-left:-1rem;
                &:last-child {
                    border-right:6rem solid transparent;
                }

            }
        }
        > .label {
            width:35rem;
            height:100%;
            left:0;
            top:0;
            span {
                transform: rotate(180deg);
                display: block;
                position: relative;
                overflow: hidden;
                text-overflow: ellipsis;
                -webkit-writing-mode:vertical-lr;
                text-align: center;
                height:100%;
            }
        }

    }

}



.panel-container {
    z-index: 2;

    ::-webkit-scrollbar-thumb, ::-webkit-scrollbar-track-piece {
        border-top: 1rem solid $color-bg;
        border-bottom: 1rem solid $color-bg;
    }

    > .label {
        box-shadow: 0 0 0 1rem $color-bg inset;
    }

    .panel {
        height:100%;
        overflow: auto;
        position: relative;
        padding-top:6rem;
        padding-left:6rem;
        margin:0 1rem;
        &.stretch {
            display:flex;
            justify-content: space-between;
            > .widget {
                width:100%;
            }
        }
        > .navigation:before {
            display:none;
        }
    }
    .navigation {
        border-top: 0;
        background: transparent;
        &:after {
            background: $color-bg;
        }
        a.on {
            border-color: $color-bg;
        }
    }

    .content {
        background: transparent;
    }
}




/* BUTTONS */

.toggle-container, .push-container {
    width:100rem;
    min-height: 65rem;
    flex-shrink: 0;
    padding:0!important;
    .label {
        position: absolute;
        top:0;
        left:0;
        right:0;
        bottom:0;
        height:auto;
        background: none!important;
        text-align: center;
        pointer-events:none;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    cursor: pointer;
}

.toggle {
    position: absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;

    .light {
        position: absolute;
        left:4rem;
        right:4rem;
        top:4rem;
        height:4rem;
        background: $color-track;
        border-radius: 3rem;
    }
    &.on .light {
        background: $color-accent;
    }
}


.push-container {
    .label {
        z-index: 1;
    }
}
.push {
    &.on .light {
        animation:none;
        background: $color-accent;
    }
    .light {
        top:6rem;
        left:6rem;
        right:6rem;
        bottom:6rem;
        height:auto;
    }
    &:active .light {
        background: $color-accent;
    }
}



.switch-container {
    // height: 100%;
    width:100rem;
    flex-shrink: 0;
    &.nolabel .value:first-child {
        border-top:0!important;
    }
    .switch {
        height:100%;
        width:100%;
        cursor: pointer;
        display: flex;
        flex-direction:column;
        align-items: stretch;
        border:1rem solid transparent;
        &.horizontal {
            flex-direction:row;
            .value {
                padding:28rem 12rem 12rem 12rem;
                text-align: center;
                display: flex;
                justify-content: center;
                flex-direction: column;
                &:before {
                    left:50%;
                    top:8rem;
                    width:8rem;
                    height:8rem;
                    margin-left: -4rem;
                    margin-top:0;
                }
                &:first-child {
                    border-top: 1rem solid $color-fg;
                }
            }
        }
        .value {
            background:$color-raised;
            color:$color-text;
            width:100%;
            height:100%;
            position: relative;
            border-top: 1rem solid $color-fg;
            padding:12rem 12rem 12rem 24rem ;
            white-space: normal;
            text-align: left;
            word-break: break-all;
            overflow: hidden;

            &:last-child {
                margin-bottom:0;
            }

            &:before {
                content:"";
                position: absolute;
                left:8rem;
                top:50%;
                width:8rem;
                height:8rem;
                margin-top: -4rem;
                background: $color-track;
                border-radius: 8rem;
            }
            &.on:before {
                    background: $color-accent;
            }

        }
    }
}

.ripple:after {
    content:"";
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background:$color-accent;
    animation:ripple 0.25s linear;
    animation-fill-mode: forwards;
    opacity:.4
}

@keyframes ripple {
	100% {opacity:0}
}


/* XY */

.xy-container, .rgb-container {
    width:200rem;
    height:250rem;
    flex-shrink: 0;
    &.nolabel .xy-wrapper {
        top:0;
    }
}
.xy-wrapper {
    position: absolute;
    top:35rem;
    left:0;
    right:0;
    bottom:0;

    overflow: hidden;
    padding-bottom: 60rem;
    .value {
        width:100%;
        position: absolute;
        bottom:0;
        border-top: 1rem solid $color-bg;
    }
    .input, input {
        width:50%;
        float:left;
        height: 30rem;
        text-align: center;
        position: relative;
    }
}
.xy {
    position:relative;
    width:auto;
    height:100%;
    margin:0 1rem;
    overflow: hidden;
    cursor: -webkit-grab;
    border-top: 1rem solid $color-bg;
    background:rgba($color-bg,.5);
    &:active {
        cursor: -webkit-grabbing;
        .handle:after,.handle:before {
            transform: scale(1.5);
        }
    }
    .handle {
        position:absolute;
        bottom:0;
        left:0;
        z-index:2;
        pointer-events: none;
        backface-visibility: hidden;
        transform-origin: center;
        transform:translate3d(0,0,0);

        &:before {
            content:"";
            position: absolute;
            top:-4rem;
            right:-4rem;
            height:8rem;
            width:8rem;
            background:$color-accent;
            border:none!important;
            border-radius: 100%!important;
            box-shadow: 0 0  0 6rem transparentize($color-accent,.8),0 0  2rem 0  mix($color-text,$color-fg,2);
        }
        &:after {
            content:"";
            position: absolute;
            top:-10rem;
            right:-10rem;
            height:20rem;
            width:20rem;
            border:none!important;
            border-radius: 100%!important;
            box-shadow: 0 0  0 1rem transparentize($color-accent,.8) inset;
        }

    }
}



.rgb-wrapper {
    padding-bottom: 90rem;
    .input, input {
        width:33.33%;
    }
}

.rgb {
    .bg {
        position: absolute;
        top:0;
        left:0;
        right:0;
        bottom:0;
    	background-color: red;
        opacity: .75;
    	&:before, &:after {
    		content:"";
    		position: absolute;
    		left:0;
    		top:0;
    		width: 100%;
    		height: 100%;
    	}
    	&:before {
    		background: linear-gradient(to right, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%);
    	}
    	&:after {
    		background:linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,1) 100%);
    	}
    }
    .handle {
        &:before {
            content:"";
            position: absolute;
            top:-4rem;
            right:-4rem;
            height:8rem;
            width:8rem;
            background:$color-text;
            border:none!important;
            border-radius: 100%!important;
            box-shadow: 0 0  0 6rem transparentize($color-text,.8)
        }
        &:after {
            content:"";
            position: absolute;
            top:-10rem;
            right:-10rem;
            height:20rem;
            width:20rem;
            border:none!important;
            border-radius: 100%!important;
            box-shadow: 0 0  0 1rem transparentize($color-text,.8) inset;
        }
    }
}
.hue {
    width:auto;
    height:29rem;
    overflow: hidden;
    position: absolute;
    bottom:61rem;
    left:1rem;
    right:1rem;
    cursor: -webkit-grab;
    .bg {
        position: absolute;
        top:0;
        left:0;
        right:0;
        bottom:0;
        opacity: 0.5;
        background:transparent linear-gradient(to left, #F00, #FF0080, #F0F, #8000FF, #00F, #0080FF, #0FF, #00FF80, #0F0, #80FF00, #FF0, #FF8000, #F00) repeat scroll 0% 0%;
    }
    &:active {
        cursor: -webkit-grabbing;
        .handle:after {
            transform: scale(1.5);
        }
    }
    .handle {
        position:absolute;
        z-index:2;
        left:0;
        top:50%;
        pointer-events: none;
        transform: translate3d(0,0,0);
        &:before {
            content:"";
            position: absolute;
            top:-4rem;
            right:-4rem;
            height:8rem;
            width:8rem;
            border:none!important;
            border-radius: 100%!important;
            box-shadow: none;
            background:$color-text;
        }
    }

}






// FADER

.fader-container {
    width:100rem;
    min-height: 200rem;
    height:100%;

    &.nolabel .fader-wrapper-outer {
        top:0;
    }

    .fader-wrapper-outer {
        padding-bottom:30rem;
        position: absolute;
        top:30rem;
        bottom:0;
        left:0;
        right:0;
        .input {
            position:absolute;
            bottom:0;
        }
    }

    .fader-wrapper {
        padding:20rem;
        overflow:hidden;
        height:100%;
        position: relative;
        cursor: -webkit-grab;
        &:active {
            cursor: -webkit-grabbing;
        }
        .fader {
            height:100%;
            width:4rem;
            background:$color-track;
            position: relative;
            margin:0 auto;
            left:-25rem;
            pointer-events: none;
            &.nogauge {
                .handle {
                    background:none;
                }
            }
            .handle {
                position: absolute;
                bottom:0!important;
                top:auto!important;
                width:100%;
                height:100%;
                transform-origin: bottom;
                max-height:100%;
                max-width:100%;
                background:$color-accent;
                z-index: 1;
                transform-style: preserve-3d;
                backface-visibility: hidden;
                span {
                    position: absolute;
                    bottom:0;
                    top:0;
                    width:100%;
                    height:100%;
                    transform-origin: top;
                    backface-visibility: hidden;
                }
                span:before {
                    content:"";
                    position: absolute;
                    top:-4rem;
                    left:-2rem;
                    height:8rem;
                    width:8rem;
                    background:$color-accent;
                    border:none!important;
                    border-radius: 100%!important;
                    box-shadow: 0 0  0 6rem transparentize($color-accent,.8),0 0  2rem 0  mix($color-text,$color-fg,2);
                }
                span:after {
                    content:"";
                    position: absolute;
                    top:-10rem;
                    left:-8rem;
                    height:20rem;
                    width:20rem;
                    border:none!important;
                    border-radius: 100%!important;
                    box-shadow: 0 0  0 1rem transparentize($color-accent,.8) inset;
                }
            }
        }

        .pips {
            position: absolute;
            top:0;
            bottom:0;
            left:14rem;
            .pip {
                height:1%;
                width:4rem;
                background: linear-gradient($color-text,transparent 1px);

                &.val {
                    width:10rem;
                    position: relative;
                    span {
                        position: relative;
                        width:30rem;
                        display: block;
                        text-align: center;
                        font-size:11rem;
                        line-height: 12rem;
                        left:15rem;
                        top:-5.5rem;
                        color:$color-text;
                    }
                }
            }
        }
    }
}


.fader-container.horizontal {
    min-height: 80rem;
    height: auto;
    width:300rem;
    flex-shrink: 0;
    .fader-wrapper-outer {
        position: relative;
        top:auto;
        padding-bottom: 30rem;
        height: 100%;
        .fader-wrapper {
            padding:20rem 20rem 50rem;
        }
        .fader {
            width:100%;
            left:auto;
            top:50%;
            height:4rem;
            .handle {
                height:100%important;
                width:100%;
                transform-origin: left;
                span {
                    transform-origin: right;
                }
                span:before {
                    top:-2rem;
                    right:-4rem;
                    left:auto;
                }
                span:after {
                    top:-8rem;
                    right:-10rem;
                    left:auto
                }
            }
        }
        .pips {
            top:14rem;left:0;
            right:0;
            font-size: 0;
        }
        .pip {
            width:1%;
            display: inline-block;
            height:4rem;
            margin-bottom:5rem;
            background: linear-gradient(90deg,$color-text,transparent 1px );
            &.val {
                width:1%;
                height:10rem;
                span {
                    top:15rem;
                    left:-15rem;
                }
            }
        }
    }
}




.knob-container {
    width: 100rem;
    display: inline-flex!important;
    align-items: center;
    min-height: 135rem;
    flex-shrink: 0;
    &.nolabel .knob-wrapper-outer{
        top:0;
        padding-bottom:30rem;
    }
    .knob-wrapper-outer {
        width: 100%;
        top: 30rem;
        bottom: 0;
        padding-bottom:50rem;
        height: 100%;
        display: flex;
        align-items: center;

        .input {
            bottom:0;
            position: absolute;
            left:0;
        }


        .knob-wrapper {
            margin:0 auto;
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;

            position: relative;

            cursor: -webkit-grab;
            &:active {
                cursor: -webkit-grabbing;
            }

            .knob-mask {
                width:58%;
                padding-bottom:58%;
                flex-shrink: 0;
                border-radius:100%;
                pointer-events: none;
                position: relative;
                &:before {
                    position:absolute;
                    top:0;left:0;
                    right:0;
                    bottom:0;
                    border-radius:100%;
                    border:4rem solid $color-track;
                    box-shadow: 0 0 0 1rem  mix($color-text,$color-fg,2),0 0 0 1rem  mix($color-text,$color-fg,2) inset,0 0 1rem  1rem  mix($color-text,$color-fg,2),0 0 1rem 1rem  mix($color-text,$color-fg,2) inset;
                    transform: rotate(45deg);
                    z-index:4;
                }
                &.pan-left {
                    &:before {
                        content:"";
                        border-left-color: transparent;
                        border-bottom-color: transparent;
                    }
                    .knob:after {
                        border-color: $color-track;
                        border-left-color: $color-accent;
                        border-top-color: $color-accent;
                    }
                }
                &.pan-right {
                    &:before {
                        content:"";
                        border-right-color: transparent;
                        border-top-color: transparent;
                    }
                    .knob:after {
                        border-color: $color-track;
                        border-right-color: $color-accent;
                        border-bottom-color: $color-accent;
                    }
                }

                &:after {
                    content:"";
                    position:absolute;
                    top:0rem;left:-3rem;
                    right:-3rem;
                    bottom:-2rem;
                    border-radius:100%;
                    border:12rem solid transparent;
                    border-bottom-color: $color-raised;
                    z-index:4;
                }
            }
            .round {
                content:"";
                position:absolute;
                top:18rem;
                left:18rem;
                right:18rem;
                bottom:18rem;
                border-radius:100%;
                background:$color-raised-top;
                box-shadow: 0 0 0 1rem $color-bg;

            }
            .knob {
                position:absolute;
                top:0;left:0;
                right:0;
                bottom:0;
                pointer-events: none;
                transform:rotateZ(0deg);
                backface-visibility: hidden;
                z-index: 2;


                &:after {
                    content:"";
                    position:absolute;
                    top:0;left:0;
                    right:0;
                    bottom:0;
                    border-radius:100%;
                    border:4rem solid $color-track;
                    border-bottom-color: $color-accent;
                }

                &.d2:after {
                    border-right-color: $color-accent;
                }
                &.d3:after {
                    border-top-color: $color-accent;
                    border-right-color: $color-accent;
                }



            }
            .handle {
                position:absolute;
                top:0;left:0;
                right:0;
                bottom:0;
                pointer-events: none;
                transform:rotateZ(-45deg);
                backface-visibility: hidden;
                z-index: 5;
                &:before {
                    content:"";
                    position: absolute;
                    top:50%;
                    left:-2rem;
                    margin-top:-4rem;
                    height:8rem;
                    width:8rem;
                    background:$color-accent;
                    border:none!important;
                    border-radius: 100%!important;
                    box-shadow: 0 0  0 6rem transparentize($color-accent,.8),0 0  2rem 0  mix($color-text,$color-fg,2);
                }
                &:after {
                    content:"";
                    position: absolute;
                    top:50%;
                    margin-top:-10rem;
                    left:-8rem;
                    height:20rem;
                    width:20rem;
                    border:none!important;
                    border-radius: 100%!important;
                    box-shadow: 0 0  0 1rem transparentize($color-accent,.8) inset;
                }
            }
            .pip {
                position:absolute;
                font-size:11rem;
                color:$color-text;
                pointer-events: none;
                top:50%;
                margin-top:30%;
                &.min {
                    left:0;
                    right:50%;
                    width:50%;
                    text-align:center;
                }
                &.max {
                    left:50%;
                    width:50%;
                    right:0;
                    text-align:center;
                }
            }
        }
    }
}


.led-container {
    width:100rem;
    flex-shrink: 0;

    .led {
        padding:10rem;
        display: flex;
        align-items: center;
        height: 100%;
        div {
            border-radius: 100%;
            width:40rem;
            height:40rem;
            margin: 0 auto;
            overflow: hidden;
            background:$color-border;
            span {
                height:100%;
                display:block;
                background-color:$color-accent;
            }
        }
    }
}
