@import 'vars';
@import 'reset';


@import 'scrollbars';

@import 'layout';

@import 'editor';
@import 'sidepanel';
@import 'widgets';




input:focus::selection{
    background:var(--color-accent);
    color:var(--color-text);
}
input {
    cursor: text;
}






html, body {
    height:100%;
    overflow:hidden;
    position:relative;

}

html{
    font-size: 2px;
}

body {
    font-size:13rem;
    line-height:16rem;
    font-family:Droid Sans;
    color:var(--color-text);
    white-space:nowrap;
    opacity:1;
    cursor: default;
}
i {
    font-size: 14rem!important;
}


.btn {
    background: var(--color-raised);
    display: block;
    padding:15rem;
    position: relative;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    cursor: pointer;
    &.small {
        padding:8rem;
        padding-right: 15rem;
    }
    &.warning {
        background:firebrick;
    }
    &.disabled {
        pointer-events: none;
        color:var(--color-text-fade);
    }
    &.align-center {
        text-align: center
    }
}










#lobby {
    background: var(--color-bg);
    position: absolute;
    top:0;
    left:0;
    right: 0;
    bottom:0;
    z-index: 2;
    border:1rem solid var(--color-track);
    display: flex;
    align-items: center;
    justify-content: center;
    overflow-y: auto;
    padding:20rem;
    .main {
        width:600rem;
        max-height:100%;

    }
    .header {
        background: var(--color-raised);
        padding:20rem;
        font-weight:bold;
        box-shadow: 0 0 0 1rem var(--color-track) inset;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
    a {
        padding-right:35rem;
        overflow: hidden;
        margin-top:10rem;
        position: relative;
        white-space: nowrap;
        text-overflow: ellipsis;
        span {
            position: absolute;
            right:0rem;
            top:0rem;
            padding:15rem;
            color:var(--color-text-fade);
        }
    }
}











#loading {
    position: absolute;
    top:50%;
    left:50%;
    margin-top:-15rem;
    text-align: center;
    .spinner {
        display: block;
        margin: 0 auto;
        height:30rem;
        width:30rem;
        border-radius: 50%;
        border:2rem solid var(--color-track);
        border-top-color:var(--color-accent);
        animation: spin .5s linear infinite;
    }
    #status {
        margin-top: 10rem;
        display: inline-block;

    }

}

@keyframes spin {
    0% {transform: rotate(0deg);}
    100% {transform: rotate(360deg);}
}






.popup {
    position: fixed;
    top:0;
    left:0;
    right:0;
    bottom:0;
    padding:10%;
    display: flex;
    align-items: center;
    z-index:1000000;
    &:before {
        content: "";
        position: absolute;
        top:0;
        left:0;
        right:0;
        bottom:0;
        background:var(--color-bg);
        opacity: .5;
    }
    .popup-title {
        position: relative;
        padding:15rem;
        background:var(--color-raised);
        .closer {
            position:absolute;
            right:0rem;
            top:0;
            padding:15rem;
            color:var(--color-text-fade);
            cursor: pointer;
        }
    }
    .popup-wrapper {
        display: flex;
        flex-direction: column;
        align-items: stretch;
        background:var(--color-fg);
        width:auto;
        max-width:600rem;
        margin:0 auto;
        position: relative;
        overflow: hidden;
        border:1rem solid var(--color-track);
        .popup-content {
            height:100%;
            width:100%;
            padding:10rem;
            overflow-y:auto;
            white-space: normal;
        }
    }
}
