
#sidepanel {
    position:absolute;
    z-index: 999999;
    width:var(--sidepanel-size);
    max-width: calc(100% - 45rem);
    min-width: 300rem;
    border-top: 2rem solid var(--color-bg);
    border-bottom: 2rem solid var(--color-bg);
    border-right: 2rem solid var(--color-bg);
    top:0;
    right:0;
    bottom:0;
    margin-right:calc(-1 * var(--sidepanel-size));
    background:var(--color-bg);
    transition:transform .25s, opacity .25s;
    transform: translate3d(0,0,0);
    opacity: 0;
    overflow-y: auto;
    overflow-x: visible;
    box-shadow: 0 0 15rem 0 var(--color-bg), 0 0 0 2rem var(--color-bg);
    display: flex;
    flex-direction: column;

    &.sidepanel-open {
        transform: translate3d(calc(-1 * var(--sidepanel-size)),0,0);
        opacity: 1;
    }

    &.hide {
        z-index: -1;
        pointer-events: none;
        margin-right: 0;
}

    .navigation {
        margin-bottom:2rem;
        margin-left: 0;
        li {
            cursor:default;
        }
        a {
            text-transform: none;
            color: var(--color-accent);
            justify-content: center;
        }
    }

    #options {
        box-shadow: 0 0 0 1rem var(--color-light) inset;
        background: var(--color-fg);
        padding: 8rem;
        flex: 1 1 auto;
        flex-shrink:0;

        li {
            display: block;
            margin-bottom: 8rem;
            &:last-child {
                margin-bottom:0;
            }
        }
    }

}
.actions {
    padding:0.5rem;
    background:var(--color-bg);
    display: flex;
    align-items: stretch;
    flex-wrap:wrap;
    .title {
        flex: 1 1 100%;
        background: var(--color-fg);
        box-shadow: 0 0 0 1rem var(--color-light) inset;
        padding: 13rem 10rem;
        position: relative;
        margin: 0.5rem;
        &.disabled {
            color:var(--color-text-fade);
        }
        &:before {
            content:"";
            position: absolute;
            top:0;
            left:0;
            right:0;
            bottom:0;
            box-shadow: 0 0 0 1rem;
            color:var(--color-bg);
        }

    }
    a {
        flex: 4 1 32%;
        padding:13rem 10rem;
        display: block;
        text-align: center;
        position: relative;
        color:var(--color-text);
        overflow: visible;
        margin: 0.5rem;

        &.on {
            z-index: 0;
            color: var(--color-custom);
            &:not(.toggle) {
                pointer-events: none;
            }
            &:after {
                content: "";
                position: absolute;
                top:0;
                left: 0;
                right: 0;
                bottom: 0;
                opacity: 0.4;
                background: radial-gradient( ellipse at center, transparent, var(--color-bg));
            }
            &:before {
                content:"";
                position: absolute;
                top:0;
                left: 0;
                right: 0;
                bottom: 0;
                opacity: 0.3;
                box-shadow: 0 0 0 1rem var(--color-custom) inset;
                border-radius: inherit;
            }
        }

    }
}

#sidepanel-handle {
    position: absolute;
    top: 12rem!important;
    left: 10rem!important;
    height: auto;
    width: auto;
    background: transparent;
    color: var(--color-fg);
    cursor: col-resize;
    &:after {
        content:none;
    }
    i {
        transform: rotate(90deg);
        pointer-events: none;
        font-size:13rem;
        display: block
    }
}

#sidepanel.resizing {
    transition: none;
}
