
.widget {
    display:inline-block;
    height:auto;
    overflow: hidden;
    position:relative;
    vertical-align:top;
    box-shadow: 1rem 0 0 0 var(--color-border),
                0 1rem 0 0 var(--color-border),
                1rem 1rem 0 0 var(--color-border),
                0 0 0 1rem var(--color-light) inset;
    border-left:1rem solid var(--color-border);
    border-top:1rem solid var(--color-border);
    -webkit-tap-highlight-color:transparent;
    display: inline-flex;
    flex-direction: column;
    --default-bg: var(--color-fg);
    background: var(--default-bg);
    max-width: 100%;
    max-height: 100%;
    text-transform: uppercase;
    contain: style size layout;
    color: var(--color-text);
    --color-glass-1: var(--color-custom);
    --color-glass-2: var(--color-track);

    &.absolute-position {
        position: absolute;
        z-index: 10;
    }

     &.nolabel {
         > .label {
             display:none;
         }
     }

     > .label ~ div {
        border-top-left-radius:0;
        border-top-right-radius:0;
        border-bottom-right-radius:inherit;
        border-bottom-left-radius:inherit;
     }
     &.nolabel > .label ~ div {
         border-radius: inherit;
     }

    .label {
        text-overflow:ellipsis;
        overflow:hidden;
        text-align:center;
        height:30rem;
        max-height:30rem;
        padding:0 6rem;
        width: 100%;
        flex-shrink: 0;
        display: flex;
        justify-content: center;
        white-space: pre;
        // justify-content: space-around;
        align-items: center;
        &.accent {
            color:var(--color-accent);
        }
    }
}

.glass-effect {
    position: relative;
    &:after {
        content:"";
        position: absolute;
        pointer-events: none;
        top:0;
        left:0;
        right:0;
        bottom:0;
        background: radial-gradient(ellipse farthest-side at center top, var(--color-glass-1), var(--color-glass-2));
        background-size: 150% 150%;
        background-repeat: no-repeat;
        background-position: center top;
        opacity: var(--glass-opacity);
        z-index: 3;
    }
}


@import 'widgets/fader';
@import 'widgets/knob';

@import 'widgets/matrices';
@import 'widgets/patchbay';
@import 'widgets/pads';

@import 'widgets/plots';


@import 'widgets/toggle';
@import 'widgets/push';
@import 'widgets/switch';

@import 'widgets/panel';

@import 'widgets/inputs';

@import 'widgets/maths';
